[2015-09-14 21:16] percramer opened #1 "Background audio"
Hi,

nice piece of code. Does it also support background audio for iOS/android?

Regards,

Per

[2015-09-14 21:27] martijn00 commented on #1
Hey,

It indeed does support background audio for iOS and Android. The problem is that this project isn't finished yet. It needs some work before it can be published.

[2015-12-08 21:44] jraesly opened #2 "Nuget"
I can't find this on nuget.com?

Can you provide a link?

[2015-12-09 09:53] martijn00 commented on #2
Hi, i didn't get it into nuget yet. I'll plan to do this in the future.

[2015-12-09 09:55] jraesly commented on #2
Time table?

[2015-12-09 09:59] martijn00 commented on #2
I could do a beta release on nuget this week, the official version will have to wait a bit longer.

[2015-12-09 10:04] jraesly commented on #2
That would be great if you could.
Thanks!

[2016-05-05 23:08] jmartine2 commented on #2
Did this ever get put on nuget? The Github page says that it's there, but I can't find it. I tried searching for "XamarinMediaManager", and nothing came up.

[2016-05-06 23:58] jmartine2 opened #3 "Xamarin Forms?"
Does XamarinMediaManager work with Xamarin Forms apps?

Your sample app works, and I was also able to get my own minimal simple test app to play a song from a straight Xamarin Android app. However, when I try to do the equivalent thing using a Xamarin Forms PCL project, nothing plays. Here's my code:

[code]

This is all in the App.cs file in the PCL project. I have not put any code in the .Droid

[2016-05-18 02:33] jmartine2 opened #4 "Can't read Status before playing"
If you try to read the Status field of the MediaManager and you haven't called Play() yet, then you get a Null Reference Exception in line 47 of MediaPlayerService.cs (Android).

        public int MediaPlayerState
        {
            get{
                return mediaControllerCompat.PlaybackState.State;
            }
        }

This appears to be because mediaControllerCompat is only initialize

[2016-08-11 07:21] martijn00 commented on #3
I am not sure why it doesn't work. It should work on all PCL projects.

[2016-08-11 07:23] martijn00 commented on #4
That has been fixed some time ago

[2016-08-11 07:23] #4 closed

[2016-08-11 07:24] martijn00 commented on #2
It's up now: https://www.nuget.org/packages/Plugin.MediaManager/

[2016-08-11 07:24] #2 closed

[2016-08-11 07:24] #1 closed

[2016-08-12 13:35] SimonSimCity opened #7 "Crossfade songs"
I want to have an option to cross-fade between songs. The current implementation pauses the current playing track and starts the new song. The new implementation should wait until the next song has enough data to start playing (check the buffer of the player) and slightly taking down the volume of the currently playing song while start playing the new song by slightly increasing the volume.

It sh

[2016-08-23 05:53] jmartine2 opened #8 "Android: StatusChanged event does not get fired when regaining audio focus."
When the media focus experiences a transinent loss (i.e. a notification sound or an incoming phone call), and then the media focus is regained,  the StatusChanged event does not get fired on the regain to notify the app that it is playing again.

[2016-08-23 05:57] jmartine2 opened #9 "Android: If audio is paused by user, other device sounds cause it to unpause."
If the user pauses playback, and then the media focus experiences a transinent loss (i.e. a notification sound or an incoming phone call), when the sound ends, the music then starts playing again. This is not desirable, because if the user manually paused the music beforehand, they would not want it to start playing again unless they manually started it again.

[2016-08-24 23:43] #8 closed

[2016-08-24 23:43] #9 closed

[2016-09-06 02:31] jmartine2 opened #11 "Sample app code gone"
It looks like as of the August 10 update, all of the sample app code is gone. Could it be restored? The app is there, but it is a default app that doesn't play music.

[2016-09-06 02:54] martijn00 commented on #11
Can you point me to a commit where that happened?

[2016-09-06 06:46] modplug opened #12 "Fetch media information from urls"
It would be nice to get metadata from files without downloading the whole file first.
Duration, sample rate, file type and so on

[2016-09-06 06:54] modplug opened #13 "Audio and video capture"
It would be nice to be able to capture audio / video or both from the device.
Could be configurable via a ICaptureSettings interface.

CrossMedia.CaptureAudio(captureAudioSettings)
CrossMedia.CaptureVideo(captureVideoSettings)

[2016-09-06 06:56] modplug opened #14 "Video playback"
Would be nice to be able to play back video from file or url.
Clients would need to send in a view / surface to render the video on.

[2016-09-06 06:56] modplug commented on #3
I can confirm that it works with Xamarin Forms from a PCL project

[2016-09-06 07:00] #3 closed

[2016-09-13 20:35] jmartine2 commented on #11
Sorry for the delay in responding. Yes, it happened in the 8/10/16 commit. It was fine in the 7/28/16 commit, and is still not correct as of the latest commit.

[2016-09-13 20:42] jmartine2 opened #17 "UWP sample app crashes"
I tried the UWP sample app, but can't get it to work. I'm running on a Windows 10 laptop.  When I start the app, it immediately crashes with the following exception:

It is happening in the following line of code in MediaManagerImplementation.cs:

Here is the call stack:

[2016-09-13 20:49] modplug commented on #17
Hi @jmartine2.
I've seen that bug when I don't have the anniversary update installed on my computer.
I just haven't had time to look into it yet.

[2016-09-15 06:00] jmartine2 opened #18 "Local files not working on some Android devices"
I can not get Xamarin Media Manager to work on some devices with local files.  On two of my devices (Samsung Galaxy S4 and Samsung Galaxy Tab 2), everything works fine for both HTTP sources and local files. However, on two other devices (Kindle Fire and HTC One M8), HTTP sources work fine, but local files refuse to play.

I hooked the Kindle Fire up to my development machine so that I could debug

[2016-09-15 06:59] martijn00 commented on #18
Is there any information about this available on Google? Maybe a reason, or a workaround?

[2016-09-15 07:13] modplug commented on #18
http://stackoverflow.com/questions/18917160/mediametadataretriever-setdatasourcenative-method-causes-runtimeexception-sta

[2016-09-15 18:06] jmartine2 commented on #18
@modplug , That SO question is about MediaMetadataRetriever, not MediaPlayer.

@martijn00 , I did look at serveral StackOverflow questions, but none of the solutions have worked so far.
[This one](http://stackoverflow.com/questions/16395559/mediaplayer-setdatasource-failed-with-status-0x80000000-for-ringtone-set-by-file) looked most promising, so I tried implementing the accepted solution. Unfortu

[2016-09-16 17:02] jmartine2 commented on #18
Ok, I fixed it!

It turns out that there were issues with both MediaPlayer.SetDataSource() and MediaMetadataRetriever.SetDataSource().  Both of those method throw exceptions on the Kindle Fire (and the HTC One) when used with a path to a local file.  However, if you open a FileInputStream and use the versions of those methods that take a File Descriptor, it works fine.

I will send a pull request

[2016-09-16 17:04] jmartine2 commented on #18
Thanks to @modplug for the link that helped me solve the MediaMetadataRetriever part.

[2016-09-16 17:10] modplug commented on #18
Great work!
fre. 16. sep. 2016 kl. 19.04 skrev Joe Martinez <notifications@github.com>:

[2016-09-20 13:59] martijn00 commented on #18
Update is up on Nuget: https://www.nuget.org/packages/Plugin.MediaManager/0.0.5

[2016-09-20 13:59] #18 closed

[2016-09-20 13:59] #11 closed

[2016-09-21 18:20] escamoteur opened #21 "Android: Long pause before Playback from URI"
I don't know why, but but when running the Android Sample App it takes about 30s before I hear the song playing. Can it be that the whole track is first downloaded before it starts playing?

[2016-09-21 18:39] escamoteur opened #22 "Specific Eventargs for the Eventhandler"
We have a lot of great events in the interface, but unfortunately they only provide the information that something has happend, but no data with it. So that you always have to access properties to get the actual interesting data. So it could be better like this:

    public delegate void StatusChangedEventHandler(object sender, EventArgs e);

->      public delegate void StatusChangedEventHandler(

[2016-09-22 06:38] martijn00 commented on #21
I've always had that problem with the current sample source. If i use my own server / file it works fine. Maybe there are more url's available with license free mp3 content?

[2016-10-01 16:47] jmartine2 commented on #17
I can confirm that it works for me now that I have the anniversary update installed on my laptop. This probably should remain open until the crash is fixed for non-anniversary systems.

[2016-10-11 20:02] tlhintoq opened #26 "Xamarin.Forms 2.3.2.127 compatibility"
This NuGet won't install in .Droid project because of wanting Xamaring.Android.Support.v4 23.4.0.1 - but that version is not compatable with current Xamarin.Forms 2.3.2.127 constraint of 23.3.0

[2016-10-12 11:33] JanWidm commented on #26
Same issue for me. Cannot install the latest version. Not compatible with Xamarin.Forms (Xamarin.Android.Support.v4 23.3.0) if I would update my Android.Support.v4 Xamarin would not work (Xamarin is using 23.4.0.1)

[2016-10-12 13:35] martijn00 commented on #26
For Forms i've released version 0.0.0.1. The code base is the same as 0.0.7, but with dependency on v4 23.3.0

See Nuget for download: https://www.nuget.org/packages/Plugin.MediaManager/0.0.0.1

[2016-10-12 13:35] #26 closed

[2016-10-12 17:28] jmartine2 opened #27 "Android WifiLock under-locked exception"
In MediaPlayerService.ReleaseWifiLock(), the call to WifiManager.WifiLock.Release() is intermittently throwing java.lang.RuntimeException: WifiLock under-locked xamarin_wifi_lock.

(working on fixing this)

[2016-10-12 17:31] jmartine2 opened #28 "Music files with very large cover art cause OutOfMemoryError exception"
If a music file has very large cover art, (in my test case, 7.8MB), calls to BitmapFactory.decodeStream() throw a java.lang.OutOfMemoryError exception. Current implementation catches this exception, but halts playback.

(working on fixing this)

[2016-10-12 17:36] jmartine2 commented on #27
Fixed by putting try/catch around the call to WifiManager.WifiLock.Release().

[2016-10-12 17:37] jmartine2 commented on #28
Fixed by specifically catching the OutOfMemoryError exception when calling decodeStream() and in that case setting the Cover to null instead of halting playback.

[2016-10-12 18:53] #27 closed

[2016-10-12 18:53] #28 closed

[2016-10-13 17:34] martijn00 commented on #22
Great idea! I will look into this when i have some time. Feel free to make a pull request if you want.

[2016-10-13 17:40] escamoteur commented on #22
No time at the moment unfortunately

[2016-10-14 13:25] SimonSimCity opened #30 "What about ExoMediaPlayer for Android?"
I just saw, that you're also managing a port of the ExoMediaPlayer for Xamarin ... Was there a reason not to use it in this project, or just the lack of time? 😉

[2016-10-14 13:47] martijn00 commented on #30
There is an implementation of the MediaManagers interface for ExoPlayer somewhere around. It should be easy to use that on top of this library. If i can find that code somewhere again, i could create a Nuget on top of this one to support ExoPlayer.

[2016-10-17 08:14] SimonSimCity opened #32 "What's the aim of this package? Minimal corss-platform playing or full-fledged media player?"
Since I've now adjusted much on the `MediaQueue` and am also planing on integrating some stuff like soft-fadeout and jumping to start if the user presses "previous" after he played more than 4sec, I am asking myself: What is the primary goal of this library?

Is it to have a minimal playing instance, or is it to provide a package, that contains all needed to implement a full-fledged feature-loaded

[2016-10-17 08:23] martijn00 commented on #32
My aim is to provide a full, but very flexible media playing library. I am looking at a way to interface the Notification and Remote control parts, so users can decide if they want to use that or not.

It should at some point also be possible to play video with this library, and switch out the actual mediaplayer with something like ExoPlayer. This should be doable by providing the correct interfac

[2016-10-17 08:34] SimonSimCity commented on #32
So I'll keep pushing the features I implement in the app I am moderating and maybe - at some extend - add a configuration-interface where the user can configure, enable or switch off functionality like cross-fading, soft-fadeout, error-messages, back-to-start etc.

[2016-10-17 08:34] #32 closed

[2016-10-23 10:17] modplug commented on #22
@escamoteur: This is included in my latest PR

[2016-10-23 16:13] #22 closed

[2016-10-23 20:07] #21 closed

[2016-10-24 11:45] SimonSimCity commented on #7
Just found this library ... https://github.com/evgenyneu/Cephalopod

[2016-10-24 11:51] modplug commented on #7
Great! Not much code to port as well :)
Can you take a look at the new interface definitions in vNext and come up with a proposed implementation for crossfading support in the IAudioPlayer?

[2016-10-24 12:17] SimonSimCity commented on #7
@modplug I'll take a look at it soon, since our clients already keep asking about this feature.

Do you know how it is on UWP? I just found a sample for gapless playing (https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/BackgroundMediaPlayback)

On Android there is an implementation around (http://stackoverflow.com/questions/6661596/audio-crossfading-in-android) but why no

[2016-10-24 12:24] modplug commented on #7
I've looked that example and I was thinking of implementing the IMediaQueue using MediaPlaybackList on UWP. For crossfade I think we have to have two players with fade in/out functionallity like the one you posted

[2016-10-28 21:46] jmartine2 opened #42 "Android exception in MusicBroadcastReceiver - Service Intent must be explicit"
I am recently experiencing a crash due to an exception in MusicBroadcastReceiver, in the second line below:

[code]

The exception is:

I googled this exception and found the [this StackOverflow question](http://stackoverflow.com/questions/28604367/android-5-0-lolipop-service-intent-must-be-explicit) about it. I think I get the gist of it's saying, but I'm not sure what exactly to change it to in

[2016-10-28 21:46] jmartine2 commented on #42
Sorry, forgot to mention that this is Android.

[2016-10-30 21:58] modplug commented on #30
I guess this can be closed now

[2016-10-30 21:59] modplug commented on #14
Finished :)

[2016-10-30 21:59] #14 closed

[2016-10-30 21:59] modplug commented on #12
Done 👍

[2016-10-30 21:59] #12 closed

[2016-10-31 07:50] SimonSimCity commented on #12
@modplug it would be nice if you'd also add a reference to the PR ;)

[2016-10-31 07:54] SimonSimCity commented on #30
So, the plan is to create a new project, that can be placed on top of this library on Android, that contains an implementation for the ExoMediaPlayer, am I right?

I just wanted to get a feedback to also get this implementation going.

[2016-10-31 07:58] SimonSimCity commented on #30
Yee, now I see. Fixed by #44

[2016-10-31 07:58] #30 closed

[2016-10-31 07:59] martijn00 commented on #30
I've already added a project for this: https://github.com/martijn00/XamarinMediaManager/tree/master/MediaManager/Plugin.MediaManager.ExoPlayer

The actual implementation still needs to be done.

I also got the nuspec ready to get the Nuget up.

[2016-11-01 18:55] jmartine2 opened #47 "IMediaManager.Cover no longer exists"
I was attempting to use the lastest MediaManager with my project, and it appears that IMediaManager.Cover no longer exists (as of PR# 44 I believe).

If this was intentional, what is the new way of accessing the current cover?

[2016-11-02 05:25] martijn00 commented on #47
The Cover is now in the IMediaFile, IMediaFileMetadata object: https://github.com/martijn00/XamarinMediaManager/blob/master/MediaManager/Plugin.MediaManager.Abstractions/IMediaFileMetadata.cs#L38

Using the default `MediaFile` you can get the Cover, or you could provide your own implementation.

[2016-11-02 05:25] #47 closed

[2016-11-02 08:24] martijn00 opened #48 "Update Android to use the new Support Libraries"
We should refactor the Android code to use the newer API's.

- https://medium.com/google-developers/meida-playback-and-the-must-have-android-support-library-apis-9f48dc6b657e#.jgf3q6p0q
- https://medium.com/google-developers/mediabrowserservicecompat-and-the-modern-media-playback-app-7959a5196d90#.lcrh3kw17
- https://github.com/googlesamples/android-UniversalMusicPlayer

[2016-11-02 19:23] jmartine2 commented on #47
Thanks.  Given an IMediaManager object, How can I access the IMediaFile object for the currently playing song? I don't see any reference to it in IMediaManager.

[2016-11-02 20:03] modplug commented on #47
The MediaQueue has a QueueChanged event if I remember correctly

[2016-11-02 20:24] jmartine2 commented on #47
Is that the only way to get it now? My application has places where it needs to access the cover of the currently playing song. Before, I was just able to access the Cover property of the MediaManager object to get it. Adding a QueueChanged listener is more cumbersome, as I would then need to cache it somewhere for later use.

[2016-11-03 02:08] martijn00 commented on #47
The Items playing are now put into the `MediaQueue`by default. This means you can get the current items cover with this: `CrossMediaManager.Current.MediaQueue.Current.Metadata.Cover`

Be aware that the current, MetaData and Cover can be null, so what you can do is listen for changes on the MediaFileChanged event.

[2016-11-04 22:19] jmartine2 commented on #47
Perfect, thanks!

[2016-11-09 12:40] escamoteur opened #55 "Please change CPU architecture in iOS debug to i386 + x86_64"
Hi,

currently the debug project settings for iOS is set to 64Bit only which makes the Forms sample crash when startet on an iPhone 5

[2016-11-09 13:32] martijn00 commented on #55
Can you make a PR for this?

[2016-11-09 15:52] tarisaig opened #56 "Can't access Plugin.MediaManager.Abstractions.Implementations from iOS"
Hi,

I can't seem to access Plugin.MediaManager.Abstractions.Implementations for my Xamarin.iOS project. I'm looking to use the default implementations of IMediaFile (MediaFile) and IMediaQueue (MediaQueue), but this namespace isn't coming up.

[2016-11-09 16:19] martijn00 commented on #56
Which version are you on?

[2016-11-09 16:40] tarisaig commented on #56
Version 0.09 NuGet package

[2016-11-10 09:52] martijn00 commented on #56
I think this is only included in the 0.1.0-beta. Can you try those?

[2016-11-10 10:09] tarisaig commented on #56
Perfect - got it now. Thanks Martijn

[2016-11-10 10:09] #56 closed

[2016-11-10 21:44] jmartine2 opened #57 "Android AlternateRemoteCallback missing"
A while back, I added the MediaManagerImplementation.AlternateRemoteCallback property in order to handle remote media commands (play, pause, skip, etc.). This property seems to have been removed when the interface was changed recently. Was this intentional? If so, what is the new way to handle these events?

[2016-11-11 07:39] martijn00 commented on #57
This is work in progress, and also why it is still beta. I am aiming to provide this through the common interface.

[2016-11-12 00:12] jmartine2 opened #58 "Event when a new media file starts playing?"
I used to subscribe to the CoverReloaded event so that I would know when new album art was available, so that I could update my UI.  However, with the new interface change, that event no longer exists. So, I decided that I should subscribe to an event that tells me when a new song starts playing instead. However, I can't find one that works.

I first tried using MediaQueue.QueueMediaChanged. Howev

[2016-11-12 10:13] SimonSimCity commented on #58
Try something like this code:

    CrossMediaManager.Current.MediaQueue.PropertyChanged += (object sender, PropertyChangedEventArgs e)
    {
        switch (e.PropertyName)
        {
            case "Current":
                if (CrossMediaManager.Current.MediaQueue.Current.MetadataExtracted) {
                    // Do something with CrossMediaManager.Current.MediaQueue.Current.Metadata.Cover

[2016-11-12 14:40] martijn00 commented on #58
The reason that `MediaQueue.QueueMediaChanged` isn't working is a bug. I think it would be correct to use that once the bug has been fixed.

[2016-11-12 14:42] martijn00 commented on #58
I think we could add an event for the Cover changed to the MediaExtractor

[2016-11-12 14:48] SimonSimCity commented on #58
@martijn00 I would add the `INotifyPropertyChanged` interface to the `IMediaFileMetadata`, since the object is instanciated in the constructor of every `MediaFile` even though the metadata isn't available there.

[2016-11-12 15:38] martijn00 commented on #58
@SimonSimCity That is a good idea! But i would still like to add it as a separate event, so we can pass the cover object as argument in the event handler.

[2016-11-12 16:22] martijn00 commented on #58
Started on this in https://github.com/martijn00/XamarinMediaManager/commit/8ad9a80459b8ad5b4ef96f3529afa78d6f2dc83c

[2016-11-13 23:14] jmartine2 commented on #58
@SimonSimCity Thanks for the solution. Could you elaborate on how to "Take a listener on CrossMediaManager.Current.MediaQueue.Current and watch for a change on MetadataExtracted."? MetadataExtracted is a method, not an event.

[2016-11-14 00:48] jmartine2 commented on #42
This issue is still causing me problems. The exception happens in the following circumstance: If I'm playing music through a Bluetooth speaker, then turn off the speaker while the music is playing, the music switches to playing through the device's built-in speaker for a few seconds, then it crashes.

Just before the crash AudioPlayerBroadcastReceiver.OnReceieve() is called, and the call to contex

[2016-11-14 01:13] jmartine2 commented on #42
Nevermind. I figured out how to fix it. I will create a pull request for the change soon.

[2016-11-14 05:31] SimonSimCity commented on #58
Right, but the `IMediaFile` interface includes the `INotifyPropertyChanged` interface.

So you can just use that and check which property changed. Take a switch on the property-name, like I did in the first example and you're ready to go.

[2016-11-14 07:40] modplug commented on #55
This should be fixed in [#60](https://github.com/martijn00/XamarinMediaManager/pull/60)

[2016-11-14 09:52] SimonSimCity commented on #57
@martijn00 I suggest adding `TODO`s always when events are added and removing them after they're fully implemented.

I think it's better in the long run to have more actually resolved `TODO`s in the code than not knowing what's actually going on.

All these triggers should also be tested in some way, that we're sure they are triggered ...

[2016-11-14 16:27] jmartine2 commented on #58
@SimonSimCity Got it, thanks!

[2016-11-14 20:19] jmartine2 commented on #58
I agree with @martijn00. I think that having a dedicated event would be better, so that the cover can be passed in via the EventArgs. Using INotifyPropertyChanged is more cumbersome, and could also be error prone since there is no guarantee that the cover value won't change between the firing of PropertyChanged and reading the Cover value. Also, since "Metadata" is the property that changes, Cover

[2016-11-14 21:52] jmartine2 opened #61 "Android - Queue keeps building up, tracks repeating"
My app does not use queues.  I receive the MediaFinished event when a song ends, and in the handler, my app chooses the next song to play, and calls Play(IMediaFile mediaFile).

Since the interface change, I am having the following problem:

My app plays Song1.
When Song1 ends, it plays Song2.
When Song2 ends, my app requests to play Song3, but instead Song1 plays again.
Song1 keeps playing each t

[2016-11-14 22:27] jmartine2 commented on #61
Note that I was able to counteract this issue in my own code by manually calling MediaQueue.Clear() right before Play() each time, but I'm not sure that I should have to do this.

[2016-11-14 22:38] jmartine2 opened #62 "Android - MediaPlayerService.Play(IMediaFile) Exception"
I am occasionally getting an Unhandled Exception in this method. The call to _mediaPlayer.PrepareAsync() raises a Java.Lang.IllegalStateException every so often.

In researching this issue on StackOverflow, I found that this occurs if you try to Prepare the media player if it is already prepared. I made a fix to this by putting a try/catch around the call. Pull request to come soon.

[2016-11-15 04:12] jmartine2 opened #64 "Android - Unpausing paused media causes application to freeze"
I have been having a problem where pausing playback, then un-pausing it would cause my application to freeze.  I traced the issue and found that the first line of code in MediaServiceBase.Play() was blocking execution:

if(!ValidateMediaFile(mediaFile) || CheckIfFileAlreadyIsPlaying(mediaFile).Result)

On further investigation, I found that it was the ".Result" that was blocking. I changed the cal

[2016-11-15 08:06] #62 closed

[2016-11-15 12:37] SimonSimCity commented on #61
The queue is thought as to be a list. This list doesn't kick items by itself, it just moves the index. If you request the player to play the first song of that queue, it will always be the same, right.

You're talking about queues here ... Why multiple?
Usually, there's just one, containing a list of tracks. The index defines on what position of the list the player currently is playing.

[2016-11-15 15:28] #42 closed

[2016-11-15 16:27] martijn00 commented on #61
The `MediaFinished` event you use calls `PlayNext()`
[code]

How would you solve this in the library?

[2016-11-15 17:49] jmartine2 commented on #61
@SimonSimCity Sorry I should have said, "My app does not use the queue."

@martijn00 I think it's fine that it plays the next song in the queue if there are more songs in the queue. But I do think that since it's a queue, it should automatically remove each song when it is finished playing. The behavior that I described in my initial post seems very odd. When I specifically call Play(Song3), I don

[2016-11-16 11:32] modplug commented on #61
@jmartine2: We changed the default behavior for the queue to Repeat = false, this should fix your issues.

[2016-11-16 11:46] SimonSimCity commented on #61
@modplug please also take a look at the `ToggleRepeat` method ... it looks quite odd. In my opinion, we need a getter and setter for the property `Repeat`

[2016-11-16 11:56] modplug commented on #61
@SimonSimCity: Yeah, I agree. The logic seems wrong as well

[2016-11-16 14:55] martijn00 commented on #61
Fixed in https://github.com/martijn00/XamarinMediaManager/commit/0f5904331c2fb9f3f0c43a793eed49476b89fccd

[2016-11-16 14:55] #61 closed

[2016-11-16 14:56] #64 closed

[2016-11-16 16:45] #55 closed

[2016-11-21 06:39] jmartine2 opened #71 "Andorid - Can't play same song twice in a row"
I'm unable to play the same song twice in a row. I traced the code and here's what's happening:

The first time the song is played, it plays fine.
The second time, MediaServiceBase.Play() calls CheckIfFileAlreadyIsPlaying(), which in this situation sets the song position to zero and returns True, which causes the Play() function to return without doing anything.

CheckIfFileIsAlreadyPlaying() is r

[2016-11-21 07:05] bubavanhalen commented on #71
i did notice it too,

it should be fixed with this pull request:

https://github.com/martijn00/XamarinMediaManager/pull/70/files#diff-ca33a496d9995f3f564402023abd0230

[2016-11-21 17:21] jmartine2 commented on #71
Great, thanks!

[2016-11-22 08:36] beko1997 opened #72 "Unable to provide custom IMediaNotificationManager implementation (Android)"
I'm seeking for a way to implement a custom notification. Specificly I want to be able to change some of the style elements like the background color and buttons.

The **MediaManagerImplementation** provides a setter for the **MediaNotificationManager** but I'm unable to get the MediaSession Token. So the notification won't show. The default MediaNotificationManager will also be regenerated after

[2016-11-22 12:00] bubavanhalen commented on #72
With the current implementation it is not possible without using some dirty Reflection to get a value form an internal property .

I just changed the visibility of the Session property and added it to the current Pull Request => https://github.com/martijn00/XamarinMediaManager/pull/70

Just check the last [commit](https://github.com/martijn00/XamarinMediaManager/pull/70/commits/8ef48d6d708889309b2

[2016-11-22 12:07] bubavanhalen commented on #72
With the current implementation it is not possible without using some dirty Reflection.

I fixed the reinitialization of the `MeidaNotificationManager `and set the visibilty level from the CurrentSession to public and added the changes to the current Pull Request => https://github.com/martijn00/XamarinMediaManager/pull/70
As soon this gets merged you can get token by using this:
`((MediaManagerImp

[2016-11-22 14:53] beko1997 commented on #72
Allright, thanks for the update!

[2016-11-25 15:23] kikolopes90 opened #73 "Xamarin Forms - How get raw/example.mp3"
I use xamarin forms pcl, i can not fetch the file is in the raw folder. How do I do?

![screenshot_1](https://cloud.githubusercontent.com/assets/21179985/20629353/f9f22cc4-b322-11e6-887a-42d4b04e28ac.png)

[code]

[2016-12-02 23:21] #71 closed

[2016-12-02 23:21] #57 closed

[2016-12-02 23:21] #72 closed

[2016-12-02 23:22] martijn00 commented on #73
This is not an issue, but a question for something like StackOverflow.

[2016-12-02 23:22] #73 closed

[2016-12-02 23:23] martijn00 commented on #48
Work on this has started in: https://github.com/martijn00/XamarinMediaManager/tree/mediabrowserservice

[2016-12-14 20:34] halukmy opened #75 "can stream radio url?"
http://live2.radyotvonline.com:8025

can we play this kind of url stream?

[2016-12-14 21:31] jmartine2 commented on #71
I just tested it, and this issue is still not fixed. Although some of the logic was changed in CheckIfFileAlreadyIsPlaying() in the referenced pull request, it still returns True in the case where the same song is played again, from the following piece of code:

            //Same file selected => seek to start
            if (MediaPlayerState != PlaybackStateCompat.StatePaused && !ManuallyPaused)

[2016-12-14 21:49] jmartine2 opened #76 "Android - Exception "No player is set""
I am randomly encountering this error. It is coming from MediaManagerBase.CurrentPlaybackManager' getter:

[code]

The first line is calling SetCurrentPlayer(), which is as follows:

[code]

The only code path that I can see that would permit _currentPlaybackManager to remain null (and thus cause the exception) is if the fileType passed in is MediaFileType.Other.

Any thoughts on how to fix this?

[2016-12-14 22:15] jmartine2 opened #77 "Android - Java.Lang.RuntimeException: Invalid notification (no valid small icon)"
I am getting this exception randomly on certain devices. Looking at the stack trace on the crash, it appears to be coming from MediaNotificationManagerImplementation.StartNotification().

According to this StackOverflow question:
http://stackoverflow.com/questions/33642484/android-notificationmanager-giving-me-no-valid-small-icon-error

It appears that it is caused by not setting the small icon in

[2016-12-15 09:36] bubavanhalen commented on #77
Yes exactly, but we should add this as a bug if the ApplicationInfo.Icon isn't working as Fallback in all cases.

[2016-12-15 19:26] jmartine2 commented on #77
Actually, I just checked, and in my Android Manifest tab in the Android project properties in Visual Studio, I didn't have the Application Icon set. I just set it, so hopefully that will fix the problem for me.

[2016-12-16 08:54] SimonSimCity commented on #75
Please note the type of protocol that you want to stream. If I guess it right, you're asking about implementing a SHOUTcast client, right?

[2016-12-20 18:28] HenrySipp commented on #13
+1

[2016-12-23 00:31] jmartine2 commented on #62
I have found the my previous fix to this issue did not completely solve it. It prevented the unhandled exception, but the song still does not play.

I have created a new fix for this issue. In the exception catch block, I reset the media player, reset the media source, and call PrepareAsync again. This seems to have fixed the issue.

Pull request to come soon.

[2016-12-26 08:27] #77 closed

[2016-12-28 13:50] nudaca opened #81 "MediaForms.UWP sample does not build"
The UWP Forms sample does not build.
Here is the build output:
[code]

[2016-12-28 16:38] nudaca opened #82 "MediaForms.UWP sample does not play video (only audio)"
Sample Forms don't display Video, as seen on image below. Audio and controls are OK.
Had to change MediaFormsPage Constructor to:

[code]

![mediamanager uwp_novideo](https://cloud.githubusercontent.com/assets/14869974/21526307/20c26fa0-cd1b-11e6-981b-11091b19a9a4.PNG)

[2017-01-01 01:56] jmartine2 commented on #76
I did some more testing, and found that when this issue is occurring, when the getter is called, both _currentPlaybackManager and _currentMediaFile are both null. Therefore, SetCurrentPlayer() is never called. In this case, the getter will always throw an exception.

In looking at the stack traces from my crashes, in every case, this happens when MediaManagerBase.Pause() is called, which accesses

[2017-01-02 04:28] bemnet4u opened #83 "Remote control event not working in the sample app."
In the MediaSample android app the remote control events for controlling the playback state are not working. Clicking the play/pause button on the lock screen and in the notification area are not working. I am testing on Galaxy s6 (api 23)

[2017-01-02 05:20] bemnet4u commented on #83
I have a hacky fix for this but not sure if you are going to like it. Basically what is happening is the SessionManager that is passed from the client is null when remote event is triggered. The session manager is set on the AudioPlayerBase but the service has no access to it when notification is received.

With this change in $/XamarinMediaManager-master/MediaManager/Plugin.MediaManager.Android/M

[2017-01-02 18:05] BergQuester opened #84 "Never finishes stopping or pausing playback"
I'm writing an Android and iOS application with Xamarin.Forms in a PCL.

While testing on iOS (Have not yet tested on Android) The audio stream starts correctly with `CrossMediaManager.Current.Play()`. Stopping playback either via `CrossMediaManager.Current.PlayPause()` or `CrossMediaManager.Current.Stop()` does stop the audio coming from the speaker, but does not exit the awaited method nor does

[2017-01-07 20:56] BergQuester commented on #84
Turns out there was a UI threading exception that Xamarin wasn't reporting correctly. Clearing that up fixed the issue.

[2017-01-07 20:56] #84 closed

[2017-01-07 21:16] BergQuester commented on #76
I've gotten this exception on iOS too when calling `CrossMediaManager.Current.Stop()` when nothing has been played to begin with.

I find the behavior of throwing an exception rather than doing nothing very strange. Therefore, I wholeheartedly agree with @SimonSimCity. Return `null` and let the programmer deal with it. In my case, update the code that `Stop()` uses to do nothing if it is null.

[2017-01-07 21:28] BergQuester opened #85 "Calling MediaQueue.Clear() does not clear current"
After stopping playback, I am attempting to discard all items in the MediaQueue. However, calling `MediaQueue.Clear()` keeps the current item cached. Setting `CrossMediaManager.Current.MediaQueue = null;` causes the manager to crash when attempting to start a new item later.

[2017-01-09 21:58] jmartine2 commented on #76
I made the Option 2 changes. The getter will now return Null. I also added null reference checks wherever it is accessed. See Pull Request #86 .

[2017-01-09 22:48] jmartine2 opened #87 "Android: "Handle must be valid" exception in MediaSessionManager.UpdatePlaybackState()"
I have been getting this exception in MediaSessionManager.UpdatePlaybackState(), in the call to MediaSessionCompat.SetPlaybackState().

According to [this report](https://bugzilla.xamarin.com/show_bug.cgi?id=47577), This appear to be a Xamarin garbage collection bug.

I have fixed this using the temporary solution listed in that report. Pull request to come soon.

[2017-01-09 23:13] jmartine2 commented on #71
@martijn00 Could you reopen this issue, since it is not fixed?

[2017-01-10 15:20] fela98 opened #88 "Counter-intuitive ToggleRepeat method in the IMeidaQueue interface"
IMO the [`ToggleRepeat()`](https://github.com/martijn00/XamarinMediaManager/blob/master/MediaManager/Plugin.MediaManager.Abstractions/IMediaQueue.cs#L78) in the IMediaQueue is a very counter-intuitive interface design. There are 3 different [`RepeatType`](https://github.com/martijn00/XamarinMediaManager/blob/master/MediaManager/Plugin.MediaManager.Abstractions/Enums/RepeatType.cs)s, however there

[2017-01-10 15:30] fela98 commented on #88
The same goes for the IMediaManager interface, there is one `Play` one `Pause` and one `PlayPause` method, although the PlayPause function would fit better in another layer. As supposed one could create a controller/ViewModel layer that is closer coupled to the UI but is also easy to substitute or extend in case you want different UI behaviour.

https://github.com/martijn00/XamarinMediaManager/blo

[2017-01-12 18:54] jmartine2 opened #89 "Android: Un-pausing media makes it start from the beginning"
If a song is paused, and you un-pause it by calling MediaManager.PlayPause(), the song starts over from the beginning instead of continuing where it left off.

I have fixed this by modifying AudioPlayerBase.Play(), so that if the media is paused, it now calls MediaPlayerService.TogglePlayPause(true) instead of MediaPlayserService.Play().  Pull request to come soon.

[2017-01-12 18:57] jmartine2 opened #90 "Android: Un-pausing media does not raise MediaManager.StatusChanged event"
If you have a song playing and pause it, the MediaManager.StatusChanged event is raised, but when you un-pause it, the event is not raised.

[2017-01-14 02:19] #87 closed

[2017-01-14 23:17] DiSiqueira opened #92 "Error executing sample"
I just followed all steps from the main README, installed Plugin.MediaManager in all projects and put this code on a button:
`await CrossMediaManager.Current.Play("https://archive.org/download/testmp3testfile/mpthreetest.mp3" , MediaFileType.AudioUrl);`

When i click the button, the audio plays, but a exception is showed

[code]

Edit: I am doing a Xamarin Forms project, but debugging on an Iphone

[2017-01-16 10:59] beko1997 opened #93 "UWP: Un-pausing media makes it start from the beginning"
Issue #89 also exists on UWP.

[2017-01-20 15:53] SimonSimCity opened #100 "[Feature] Multiple souces for a video-playback (audio, video, subtitle)"
Do any of the systems (Windows, Android, iOS) support having multiple files that can be played simultaneously? I'm now thinking of a video, where you easily can switch the audio-channel on, or add subtitles. Anyone who tried that before?

[2017-01-23 12:24] #89 closed

[2017-01-24 11:04] Vencode commented on #92
We are experiencing the same issue, any workarounds ?

[2017-01-24 11:35] martijn00 commented on #92
A fix for this is on the packages at Myget: https://www.myget.org/feed/Packages/martijn00
I will release this to stable sometime soon.

[2017-01-24 11:47] Vencode commented on #92
Thanks Marijin, for the feedback. I've tried to access the link you gave, but i'm only re-directed to my Myget page, not to yours :( I guess i'll wait for the stable version. Thanks

[2017-01-24 11:49] martijn00 commented on #92
Add this to your nuget source: https://www.myget.org/F/martijn00/api/v3/index.json

[2017-01-24 11:57] Vencode commented on #92
I've added that has a nuget package source, but i get a empty list when I try to browse

[2017-01-24 11:59] modplug commented on #100
On iOS it's possible to play multiple videos at the same time (up to 4 at max last time I checked). I'm pretty sure that is possible on UWP as well

[2017-01-24 12:15] martijn00 commented on #92
You need to enable pre-release packages.

[2017-01-24 12:28] Vencode commented on #92
Worked like a charm, thank you very much

[2017-01-24 12:30] modplug commented on #92
Did it fix the exception?

[2017-01-24 13:12] Vencode commented on #92
Yes, it fixed the issue.

[2017-01-24 15:44] hmfp20 commented on #90
I have the some problem to. Still no solution?

[2017-01-24 16:43] Vencode commented on #90
Also facing this issue on the pre-release version. Is there a workaround for it ?

[2017-01-25 05:31] SimonSimCity commented on #87
@jmartine2 if you have some time at hand, I guess the team is still searching for a repo where this bug is present, since the issue is set to *INFONEEDED* :wink:

[2017-01-25 12:34] eduard1989 opened #102 "Stream RTSP and/or MJPEG possible?"
Is it possible to stream RTSP and/or MJPEG sources with XamarinMediaManager?

Thanks in advance
//Eddy

[2017-01-25 12:58] martijn00 commented on #102
Depeding on the device you run it on, this is possible.

[2017-01-25 12:58] #102 closed

[2017-01-25 14:50] fela98 opened #103 "Calling PlayNext() when paused only resumes playback on iOS."
As the title says, when a MediaFile has been paused, and then `PlayNext()` is called the current MediaFile is simply resumed instead of the next being played from the beginning. Only occurs on iOS.

[2017-01-31 13:33] #103 closed

[2017-01-31 13:34] #75 closed

[2017-02-06 21:33] jmartine2 opened #114 "Android - IllegalArgumentException in MediaNotificationManagerImplementation.StartNotification"
Receiving the following crash:

Java.Lang.IllegalArgumentException: setShowActionsInCompactView: action 2 out of bounds (max 1)

Stack trace:
caused.AggregateException(s)
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()exceptionservicescommon.cs:143
Java.Interop.JniEnvironment.InstanceMethods.CallObjectMethod(JniObjectReference instance, JniMethodInfo method)JniEnvironment.g.cs:11262

[2017-02-06 21:45] jmartine2 commented on #114
The exception seems to be complaining that we are trying to call setShowActionsInCompactView with index 3, and there are only 2 actions.

I'm not sure why this is happening, since there is a call to AddActionButtons(), which adds 3 action buttons to _builder. However, I will add some code to protect against the exception anyway.

[2017-02-10 14:35] tonyyyrocks39 opened #121 "seeking problem in Android"
HI,

I am using a slider to show progress of player.When I am sliding it return to back to its original position.
Here is my code.I am calling this entire code in initialization method,So that during page load it starts playing.Here progressbar is a slider.
CrossMediaManager.Current.Play(@url,MediaFileType.AudioUrl);
			CrossMediaManager.Current.PlayingChanged += (sender, e) =>
			{
				ProgressBa

[2017-02-10 16:05] jmartine2 commented on #121
@tonyyyrocks39  Here's how I do it:

        private void _seekBar_ProgressChanged(object sender, SeekBar.ProgressChangedEventArgs e)
        {
            if (e.FromUser)
            {
                SetSongPosition(e.Progress);
            }
        }

        void SetSongPositionEvent(long barPosition)
        {
            CrossMediaManager.Current.Seek(TimeSpan.FromMilliseconds(barPosition))

[2017-02-10 17:28] tonyyyrocks39 commented on #121
correct..I got it..But how can I do with a slider.

[2017-02-10 17:56] jmartine2 opened #122 "Slow reaction to unplugging headphones or disconnecting bluetooth"
In most media player apps, when you unplug the headphones or disconnect a Bluetooth speaker while media is playing, it immediately pauses playback.

I notice that Xamarin Media Manager does this automatically as well, but there is a significant delay. Here is what I observe:

1) I start my app fresh
2) Plug in the headphones, and start playing a song.
3) I unplug the headphones.
4) The song immedi

[2017-02-10 17:58] jmartine2 commented on #121
Isn't a slider what is called a SeekBar in Android?

[2017-02-10 18:03] tonyyyrocks39 commented on #121
Okay,Could you please tell me which event i need to fire,if a user slides the slider to specific position(with my codes)

[2017-02-10 20:03] jmartine2 commented on #121
You need to add an event handler to your SeekBar's ProgressChanged event, which points to the handler function.  Something like:

            _seekBar.ProgressChanged += _seekBar_ProgressChanged;

(in your case _seekbar would be ProgressBar, assuming that it is indeed defined as a SeekBar.

[2017-02-12 03:09] hiranpeiris opened #123 "No MediaRemoteControl object in MediaManger"
No MediaRemoteControl object in MediaManger

Compile error

my code:

[Register("PlayerRemote")]
	public class PlayerRemote : UIApplication
	{
		private MediaManagerImplementation MediaManager => (MediaManagerImplementation)CrossMediaManager.Current;

		public override void RemoteControlReceived(UIEvent uiEvent)
		{
			MediaManager.MediaRemoteControl.RemoteControlReceived(uiEvent);
		}
	}

[2017-02-12 09:24] tonyyyrocks39 commented on #121
I am sorry,still did not get the solution.May be I am not able to explain the issue properly-
1.I have added your nuget package in both android and forms project.
2.Then I have used a slider in forms project whose name is ProgressBar(as seek bar is not available in forms).
3.After that Written codes for playing-

CrossMediaManager.Current.Play(@url,MediaFileType.AudioUrl);
CrossMediaManager.Curren

[2017-02-12 18:04] jmartine2 commented on #121
Sorry, I missed the fact that you are using Xamarin Forms. Did you look at the documentation for the Slider class?

https://developer.xamarin.com/api/type/Xamarin.Forms.Slider/

It looks like the event you want is ValueChanged.

[2017-02-13 03:52] tonyyyrocks39 commented on #121
Nope, Valuechanged will not work here.Anyways I solved it by using a custom renderer for slider where I did a touchdown and touchup event.Now Its working perfectly fine.Thanks for help.

[2017-02-13 03:52] #121 closed

[2017-02-13 12:12] zazka1 opened #124 "Youtube videos"
Hello,
I'm trying the example from the sample project and it is working with the .mp4 video provided there. However when I try to use youtube video the screen stays black and nothing happens.

[2017-02-13 15:22] Vencode opened #125 "V0.3.0-unstable0041 Play and Pause issue"
Hello,

On the latest unstable version, on Android if you pause the music:

 await CrossMediaManager.Current.Pause(); and then try to resume it using await CrossMediaManager.Current.Play();

The music plays from the start.

I've tried to use the CrossMediaManager.Current.PlaybackController.PlayPause() method but had the same behaiviour.

Is there any workaround to make this work ?

Also Android re

[2017-02-14 04:15] jmartine2 opened #126 "Android: Large album art causes crash (OutOfMemoryError)"
My users and I often experience crashes when a media file has a large album art attached.  It is an OutOfMemoryError.

I cannot catch this at the application level because it is happening in the background with none of my code involved.

Here are some example crash reports:

--------------------------------------------------
Example 1:
[code]
--------------------------------------------------
Exam

[2017-02-14 13:57] Vencode commented on #125
I've just tested todays release, on iOS everything works fine, on android we still have issues with the play when resuming the song. it still restarts it

[2017-02-14 14:19] modplug commented on #124
The url you pasted doesn't seem to work in my browser either

[2017-02-14 17:34] zazka1 commented on #124
Yes, my bad. I think this link is generated per IP or has expiry date. However try and generate a youtube video download link and try to play it in the player. It won't work.

[2017-02-15 09:05] fela98 commented on #125
I would strongly recommend using the ExoPlayer plugin. IMHO it's much better and faster and should become the main implementation for Android.

[2017-02-15 09:16] fela98 commented on #125
This pull request should fix it.

[2017-02-15 10:34] Vencode commented on #125
Thank you, so much i confirm its working fine now :)

[2017-02-15 14:13] #125 closed

[2017-02-16 17:31] Vencode opened #134 "V 0.4.0-unstable0002 sometimes it crashes"
Sometimes i get the following error:

Xamarin caused by: android.runtime.JavaProxyThrowable: System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
System.ThrowHelper.ThrowArgumentOutOfRangeException(ExceptionArgument argument, ExceptionResource resource)<a54ef50df72a476fb6aa0692e0d8f240>:0
System.ThrowHelper

[2017-02-16 18:05] jmartine2 opened #135 "SQLite syntax error - Unescaped apostropes"
It appears that SQL code is being generated that does not escape apostrophes, leading to a SQLite syntax error if the path to a media file contains apostrophes.

#################################################################
Error Code : 1 (SQLITE_ERROR)
Caused By : SQL(query) error or missing database.
(near "S": syntax error (code 1): , while compiling: SELECT * FROM audio WHERE (_data='/stor

[2017-02-20 09:04] #135 closed

[2017-02-20 23:25] jucaripo opened #139 "IOS TimeSpan does not accept floating point Not-a-Number values."
When I ask to play an audio it generates this error in IOS 10.2:

TimeSpan does not accept floating point Not-a-Number values.

this is the command
CrossMediaManager.Current.Play("http://www.montemagno.com/sample.mp3",MediaFileType.AudioUrl);

[2017-02-21 14:07] martijn00 commented on #139
Can you check with the new 0.3.0 release?

[2017-02-21 16:43] jucaripo commented on #139
Thank Martijn00  the 0.3.0 release work  good for my project.
Great work. :)

[2017-02-21 17:09] #139 closed

[2017-02-22 17:55] Vencode opened #141 "Android Audio qeue - music end play next music issue"
I'm facing an issue when i have a playlist, when the music ends and the navigation occurs automaticaly to the next music, that music is forever loading, it doen't fail, cause it never enters the  failed events:

CrossMediaManager.Current.MediaFailed and CrossMediaManager.Current.MediaFileFailed

But it never starts playing. If I do the navigation to the next music using the following code:

  var

[2017-02-23 09:27] Vencode commented on #134
Confirm that the fix works. Thanks

[2017-02-23 09:27] #134 closed

[2017-03-02 00:18] riandesign opened #144 "Play() methods plays from the beginning and doesn't work after play and SeekTo issue"
I have this code:

[code]

And always I play the audio, it loads the audio through HTTP all again and plays from beginning.
What's the right way to handle the player?

Also, I have this:
[code]
If I play a sound, pause it and play it again, it plays like a second and stops, I don't know the reason.

[2017-03-02 00:19] riandesign commented on #144
@jmartine2 , any thought? Could you help me on this?

[2017-03-02 15:57] jmartine2 commented on #144
I'm not sure. I don't currently have that issue. I also play only from local files, not URL's, so I don't have any experience with that.

[2017-03-02 16:37] jmartine2 commented on #144
Here's what I do:

When starting a song for the first time:

[code]

Pause:

`CrossMediaManager.Current.Pause();`

Resume:

`                await CrossMediaManager.Current.PlaybackController.Play();
`

[2017-03-02 17:39] riandesign commented on #144
@jmartine2 thank you! Just one more question:
Can you give me a clue how to play an audio from a certain point (time) of it?
I tried "Seek", but it doesn't work and plays from beginning.

[2017-03-02 18:29] jmartine2 opened #146 "Media Notification buttons not working for ExoPlayer"
I recently switched my app to use the ExoPlayer implementation instead of the native Android implementation. When I did this, the buttons (Previous, Pause, Next) in the Media Notification area stopped working.

I checked the sample app, and even it has the same issue. If I change the ShouldUseExoPlayer member to False, then the notification buttons work, but if I change it back to True, then they

[2017-03-02 18:34] jmartine2 commented on #144
I don't know if you can Seek before playing the media. I only do it while the media is already playing. That may be your problem. Here is what I do:

For instance, if I want to seek to 5 seconds into the song, I would do this:

`CrossMediaManager.Current.Seek(TimeSpan.FromMilliseconds(5000));
`

[2017-03-02 19:28] riandesign commented on #144
@jmartine2, so it doesn't work like MediaPlayer on Android?
For instance, if I do the code below, on Android it plays exatcly from 3 seconds of the audio:
`player.SeekTo(3000);`

Isn't there any option for that on Plugin.MediaManager?

[2017-03-02 19:37] riandesign commented on #144
@jmartine2 I found the SeekTo method, but it only works after the player is already set.
For example, in the **if block** below, app crashes, but the **else block** works well.

[code]

How should I set `SeekTo` when I don't have the player set yet? Any idea?

[2017-03-02 20:45] jmartine2 commented on #144
I'm honestly not sure. As I said, my only experience is with seeking while the media is already playing. Maybe someone else knows.

[2017-03-06 23:33] jmartine2 commented on #146
Ok, I have done some more debugging on this issue, and here's what I've found so far:

This is what the call stack looks like with the basic Android implementation, which works correctly:

[code]

So, I switched to the ExoPlayer implementation, and set breakpoints in those methods. I found that the problem begins in MediaServiceBase.HandleIntent():

[code]

What's happening is that SessionManager

[2017-03-07 00:03] jmartine2 commented on #146
Ok, I've gotten a little further.  I think the issue is in the MediaManagerImplementation.MediaSessionManager property:

[code]

I think the problem is that it always uses typeof(MediaPlayerService), even though this MediaManagerImplementation class is used by both the regular Android implementation and the ExoPlayer implementation. I believe that if the case of ExoPlayer, it should be using typeo

[2017-03-07 21:42] jmartine2 commented on #146
Ok, I was able to fix this at the application level by adding the below line of code just before instantiating the ExoPlayerAudioImplementation object:

`((MediaManagerImplementation)CrossMediaManager.Current).MediaSessionManager = new MediaSessionManager(Application.Context, typeof(ExoPlayerAudioService));
`
I'm not sure if this is the best final solution, as it requires knowledge of how to do it

[2017-03-08 06:00] jmartine2 opened #152 "ExoPlayer not playing MIDI files"
I was able to play MIDI files fine when I was using the regular Android implementation. However, since switching to the ExoPlayer implementation, they do not play. I get the following in the debug log:

[code]

Is this a limitation of ExoPlayer, or is there something we can do to get it working?

[2017-03-08 10:01] SimonSimCity commented on #152
I wonder if this isn't something for https://github.com/google/ExoPlayer ... See https://google.github.io/ExoPlayer/supported-formats.html

[2017-03-13 20:30] RAGolko opened #155 "Build Fails"
Plugin.MediaManager.pdb-- two files with same destination path; the UWP project and the plain project. I tried changing the debug folder of the UWP project but it still comes up with this build error... can you help? This is the Media Manager project.

[2017-03-15 05:01] jmartine2 opened #156 "ExoPlayer - Can't play media files with a # (hash sign) in filename or path"
Using the ExoPlayer implementation, I am unable to play any songs where either the filename or any part of the file path contains a hash/pound sign (#). If I switch back to the regular Android implementation, the same files play fine.

I do not get any exceptions or other errors. The music simply does not play.

[2017-03-15 20:37] jmartine2 commented on #122
Fixed by PR# 151.

[2017-03-15 20:37] #122 closed

[2017-03-15 20:47] candidodmv commented on #124
@modplug Could you explain to me if this plugin works with Youtube embed URL? Or more specifically, is it possible to play Youtube video with this plugin? In case of positive answer, could you share documentation or usage example?
Thank you.

[2017-03-16 06:09] SimonSimCity commented on #124
@candidodmv By following this helpful answer (http://stackoverflow.com/questions/8402457/how-to-get-direct-url-for-youtube-videos#answer-37779863) you should be able to get the direct links to the MP4, WebM and 3gpp files. At least the MP4 - maybe also the WebM - should be playable by this media-player.

[2017-03-17 11:00] #156 closed

[2017-03-17 11:01] #146 closed

[2017-03-17 11:02] #126 closed

[2017-03-17 11:02] #124 closed

[2017-03-17 11:02] #114 closed

[2017-03-17 11:02] #88 closed

[2017-03-17 11:02] #76 closed

[2017-03-17 12:08] martijn00 commented on #155
You need to build for "Any CPU" to be able to build the UWP project.

[2017-03-17 12:08] #155 closed

[2017-03-17 13:29] martijn00 commented on #156
I've added a new branch to update ExoPlayer to 2.2.0: https://github.com/martijn00/XamarinMediaManager/tree/exoplayer2.2.0

The code compiles but for some reason it won't play.

[2017-03-20 00:26] fumiya-kume opened #159 "How do i do playback local music file ?"
How do i do playback local music file ?

[2017-03-23 18:59] candidodmv opened #162 "Xamarin.Forms enable full screen"
Hi, how could i show video player as full screen, both Android and iOS? Is it possible?

Thanks!

[2017-03-23 19:02] modplug commented on #162
Hi. You need to set the VideoView AspectMode to AspectFill. This should work on iOS. I know we have some issues with this on Android at the moment

[2017-03-23 19:34] candidodmv commented on #162
Right, but let me check if you are understand what I'm referring. see images bellow, there is a red circle on the feature:
![andorid_player](https://cloud.githubusercontent.com/assets/1034797/24266677/6ee7721c-0fe6-11e7-946d-7f4286d2a6c6.PNG)
![ios_player](https://cloud.githubusercontent.com/assets/1034797/24266676/6ee70a3e-0fe6-11e7-8562-afd0524abe49.PNG)

[2017-03-24 12:45] JKennedy24 opened #163 "Xamarin.Android.Support.v4 dependencies too high for Xamarin.Forms"
I am using Xamarin.Forms and Xamarin.Forms maps.

I added this nuget package and it upgraded my:

[code]

I have always been informed by Xamarin, Never upgrade these packages, let Xamarin.Forms determin the version otherwise it will cause problems.

Xamarin.Forms is on:

`Xamarin.Android.Support.v4 (>= 23.3.0)`

So low and behold it caused problems.

Do these dependencies need downgrading a versio

[2017-03-24 13:10] martijn00 commented on #163
On Xamarin.Forms 2.3.3.193 the dependency on the old Support is removed and it is now possible to use v25.1.1 and higher. Install the latest version from Nuget https://www.nuget.org/packages/Xamarin.Forms/2.3.3.193 to use this.

[2017-03-24 13:10] #163 closed

[2017-03-24 17:45] modplug commented on #162
You will have to code that yourself. The VideoView is merely a view

[2017-03-24 19:28] candidodmv commented on #162
I'm doing exactly, my intuition was correct. Thanks!

[2017-03-26 19:03] dhruvcom opened #164 "Xamarin.Forms droid seek bar not working"
On tapping play button video starts however seekbar gets filled and reaches to end and then nothing happens

[2017-03-27 11:22] fumiya-kume opened #165 "Cant install in Xamarin.Android"
Ver 0.4.0 is cant install Xamarin.Android
https://lh3.googleusercontent.com/-j_FUA4o2LEo/WNj0NMX20RI/AAAAAAAAIZI/djdJ6b8CAqM/s0/devenv_2017-03-27_20-15-00.png

[2017-03-27 12:06] martijn00 commented on #165
You need to use Android support v25.1.1 or higher. Update your Nuget packages and it will work.

[2017-03-27 12:06] #165 closed

[2017-03-27 18:56] candidodmv commented on #164
There is a percentage cal problem, just do something like this:
[code]

[2017-03-27 18:57] #162 closed

[2017-03-27 19:10] candidodmv opened #166 "Normalize Progress"
Hi,

There's a different calculation for Android and iOS. Not would be convenient to keep this with the same value?

Loook at
https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.Android/Video/VideoPlayerImplementation.cs#L66

and
https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.iOS/VideoPlayerImplementation.cs#L197

There's a division by 100 on Andr

[2017-03-27 19:13] candidodmv opened #167 "Video Player Position issue"
Hi,

On iOS duration works as should be, but on Android there some problem, the value keeps jump large space, not increase one-by-one seconds like a timer works.

Thanks!

[2017-03-27 21:35] modplug commented on #164
Guys, I'd prefer it if you fixed the actual problem by committing a PR for it :) That workaround will stop working once the bug is fixed in the Android VideoPlayerImplementation

[2017-03-27 21:35] modplug commented on #166
See my comment in #164

[2017-03-27 21:36] modplug commented on #167
Are you talking about duration or progress?

[2017-03-27 22:15] jmartine2 opened #168 "Android ExtractMediaInfo throwing Java.Lang.RuntimeException"
Occasionally in my app, I am getting an unhandled Java.Lang.RuntimeException when calling ExtractMediaInfo(). My stack trace shows that it's occurring in the following line of MediaExtractorImplementation.GetMetadataRetriever():

`await metaRetriever.SetDataSourceAsync(inputStream.FD);
`

The message of the exception is:

I don't think that a Java.Lang.RuntimeException should be coming all the way

[2017-03-28 11:56] candidodmv commented on #167
Sorry by confusing, I wanted to say "Position", look at the screenshot attached for a better understand.
![ezgif-3-88f2897654](https://cloud.githubusercontent.com/assets/1034797/24403647/30fb86da-1394-11e7-922a-fbc49f908b78.gif)

Notice that timer on the bottom does jumps not increase one by one, like a counter.

ps. on iOs works fine.
ps2. this is a youtube video.

[2017-03-28 16:16] candidodmv commented on #166
I've do a PR, and was committed.

[2017-03-28 16:16] #166 closed

[2017-03-28 18:21] candidodmv opened #170 "Cannot access a disposed object. Object name: 'Plugin.MediaManager.VideoSurface'."
Hi,
I'm getting this error, when trying to open for the second time the video player content page, I'm using Xaml + MVVM data binding to set video source attribute in xaml, with video form the internet.

Thanks

[2017-03-28 18:29] candidodmv commented on #92
@DiSiqueira will be very helpful keep solved issue as closed.

[2017-03-28 19:15] #92 closed

[2017-03-28 19:15] DiSiqueira commented on #92
Thank you for your ping @candidodmv !! Issue closed!

[2017-03-28 20:09] jmartine2 commented on #168
@candidodmv I am not using MVVM. I am just calling MediaExtractorImplementation.GetMetadataRetriever() directly.

[2017-03-28 20:57] candidodmv commented on #168
all right! Thanks

[2017-03-28 21:30] candidodmv commented on #170
look at the StackTrace.

  at Java.Interop.JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self) [0x00030] in /Users/builder/data/lanes/4009/3a62f1ea/source/Java.Interop/src/Java.Interop/Java.Interop/JniPeerMembers.cs:153
  at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeVirtualInt32Method (System.String encodedMember, Java.Interop.IJavaPeerable self, Java.Interop.JniArgumentValue* p

[2017-03-28 21:32] candidodmv commented on #170
this happens when the page that has the video player frame is closed

[2017-03-29 09:38] MhAllan opened #171 "Is it singleton?"
CrossMediaManager.Current means that you can't have more than one instance? how to play two tracks?

[2017-03-29 09:38] Denaindra opened #172 "Videoview not appearing in iOS (Only sound of video coming, not visual)"
Hi

The video view is not appearing in the given layout ... But when we call the play meathod , we can hear the video being played (Only the sound comes , not the visual). Please note error only occurs in iOS , in android the video plays as expected.
Nuget Packag Version : 0.4.0

Thanks in advance

[2017-03-29 10:03] SimonSimCity commented on #171
Could you please explain your use case? Maybe a solution becomes clearer when you provide more details.

If you think of playing audio only, in a scene, where you have short action-sounds and a background-music (f.e. like within a game ...) I don't know if this implementation is suited for this use-case, because we have quite a couple of handlers, that take the volume down when another player asks

[2017-03-29 13:48] MhAllan commented on #171
I have just seen the code, at first I thought CrossMediaManager.Current is singleton, but now I realized it returns new instance. I think you better rename "Current" to "New", or "Create()".

[2017-03-29 14:43] SimonSimCity commented on #171
@MhAllan Yea, but just the first time - then it always returns the instance. It is a singleton approach. But if you really want to get a new instance every time, just call the method `CreateMediaManager()` instead of the property `Current`. https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager/CrossMediaManager.cs

[2017-03-29 14:49] martijn00 commented on #171
What @SimonSimCity says.  It's a singleton approach. `CreateMediaManager` is not public so you can't call it. I guess this is related to https://github.com/martijn00/XamarinMediaManager/issues/100 as well. In general you might want to have multiple MediaPlayers, either to play tracks at the same time, or to pre-buffer so it is faster to play the next track.

[2017-03-29 20:09] mgsmith20 commented on #159
I am wondering how to play back a local video file also.

[2017-03-29 20:11] modplug commented on #172
Hi there. Make sure you call VideoViewRenderer.Init(); in FinishedLaunching() in your AppDelegate.cs

[2017-03-29 20:13] modplug commented on #159
If you store your files in shared / PCL project I advice you to read this guide: https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/files/

[2017-03-29 20:54] #172 closed

[2017-03-29 20:55] mgsmith20 commented on #159
I thought the source property is a string?  Do I set a different property?

Thanks,
Michael Smith

[2017-03-30 08:28] priehle commented on #159
I'm curious how to do this as well. I am using PCLStorage (recommended in the article above), setting the source to FileSystem.Current.LocalStorage + "/" + <Folder Path> + "/" + <File Name>. This resolves to something like this in iOS:

/var/mobile/Containers/Data/Application/AE6136ED-28C4-482F-XXXX-XXXXXXXXXXXX/Documents/../Library/books/1103/video/635660817460381870.mp4

and this in Android:

/d

[2017-03-30 08:45] ghost opened #173 "Multiple VideoViews"
Related to #171 and #100, except I have no intention of playing multiple videos at the same time. What I would like to do is have multiple views on one or more pages of a carousel where touching each will stop the currently playing video and start whichever one was clicked on. The views can and should be invisible when they are not playing a video and would have a placeholder image.

What would be

[2017-04-01 00:12] RussellTaylor83 commented on #159
Has anyone figured this out yet please? Using a MediaPlayer I was able to just pass it a local resource e.g.

`_player = MediaPlayer.Create(this, Resource.Raw.myMp3);`

I'm not sure this is entirely possible as the library uses Java.IO.File(), and this seems to suggest it's not appropriate to use a resource

http://stackoverflow.com/questions/37083900/android-load-java-io-file-from-resource-file

[2017-04-01 10:41] RussellTaylor83 commented on #159
I have figured it out -

CrossMediaManager.Current.Play(Uri.Parse("android.resource://[PackageName]/" + Resource.[YourResourceName]).ToString());

[2017-04-01 12:09] priehle commented on #159
That's great but it doesn't cover cases when the file is not a resource. My files are extracted from a zip file that I download online.

[2017-04-01 13:19] cansado2930 opened #175 "android version requirement"
Hello,
I have discover your plugin by Xamarin blog and it is very interesting. I have tried and work very well. I have a question About Android. Is it possible to use with Android 4.2, 4.4 or 5?
Thanks

[2017-04-01 13:24] martijn00 commented on #175
As you can see in the readme the plugin supports from Android api level 9 and up: https://github.com/martijn00/XamarinMediaManager#build-status

Make sure you compile against Android v24 or higher to make the Android support libraries work.

[2017-04-01 13:24] #175 closed

[2017-04-01 13:59] RussellTaylor83 opened #176 "How do you use the queue?"
#I've tried this various ways, and with little success.

[code]

So this *should* play the same file fives times in a row, and then repeat indefinitely. It only plays the file once, and on the next time I call Play() or PlayNext() nothing happens.

What am I doing wrong please?

Thank you

[2017-04-01 14:18] martijn00 commented on #176
The Queue is not really designed to add files like that. Rather use:
`List<MediaFile>() files;
 CrossMediaManager.Current.Play(files);`

But looking at that you want to play the same file over and over you could just do:
` CrossMediaManager.Current.Play(uri.ToString());`
And set repeat to All

[2017-04-01 17:38] RussellTaylor83 commented on #176
Thank you for your help. This only plays once:

[code]

I must be using repeat all incorrectly as well?

[2017-04-01 17:50] RussellTaylor83 opened #177 "Gap / pause between MediaQueue audio items"
Hello,

My application is to play some audio on endless loop, and it appears due to the way Android works, this is quite difficult. The reason for me trialling XMM is to try and avoid the pause between audio tracks that you get with a normal MediaPlayer

I have tried queuing file after file, and there is always (at least in the emulator) a momentary gap between one media item finishing and the nex

[2017-04-02 05:45] Happypig375 commented on #164
Why is this issue not closed?

[2017-04-02 05:50] SimonSimCity commented on #177
Have you tried setting the repeat-type on the queue to `RepeatOne`? If you queue up file after file, you'll always have a gap, because the system needs some time to load that next file.

https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.Abstractions/Implementations/MediaManagerBase.cs#L321

[2017-04-02 09:33] #164 closed

[2017-04-05 23:02] hs79hs opened #179 "cannot find Plugin.MediaManager.Forms"
After I run the following command in Package Manager Console,
Install-Package Plugin.MediaManager
The package is successfully installed.

But then in my project, it can find Plugin.MediaManager, but cannot find Plugin.MediaManager.Forms, and thus cannot recognize VideoViewRenderer.

Do I need to install Plugin.MediaManager.Forms separately? How? Thanks.

[2017-04-06 04:56] SimonSimCity commented on #179
@hs79hs `Plugin.MediaManager.Forms` is a separate package, which depends on `Plugin.MediaManager`. You now just need to call `Install-Package Plugin.MediaManager.Forms` and you should be good to go.

[2017-04-06 08:08] #179 closed

[2017-04-06 09:25] hs79hs commented on #179
Thank you very much.

[2017-04-06 20:22] luigicatanoso opened #180 "Only works on the first run"
Hello everyone. I'm new on Xamarin.Forms and I’m having issues using this plugin. Every time I start the video the first time it plays, but if I go back to the selection and click again it doesn’t play at all (the video is blank). I have no choice: restart my application, so everything works just at the first attempt, always. All this occurs following the code samples, as well doing copy and paste

[2017-04-07 10:03] RobTillie opened #181 "I'm not able to control or mute the volume on any platform"
It seems the volume control only works one-way, from OS -> MediaManager. It does not do anything if I set VolumeManager.Mute or CurrentVolume.

It seems like I could get this to work easily by Invoking VolumeChanged in the setters of the VolumeManager properties. For example, the UWP implementation would then handle this event in VolumeManagerOnVolumeChanged and set the mute and volume properties

[2017-04-07 12:29] martijn00 commented on #181
On most platforms this is not implemented yet.

https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.Android/VolumeManagerImplementation.cs#L10

https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.UWP/VolumeManagerImplementation.cs

https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.iOS/VolumeManagerImplementation.cs

I would acc

[2017-04-10 08:11] RobTillie commented on #81
Does anyone have an update on this? I immediately ran into this when cloning dev and trying to build it in VS 2017.
The problem seems to be that both Plugin.MediaManager and Plugin.MediaManager.UWP result in an assembly called Plugin.MediaManager. Could someone explain why this is and how we can build it?

[2017-04-10 09:38] martijn00 commented on #81
We use bait and switch to load the platform specific assembly instead of the pcl one. That is why the assembly name is the same. Maybe the output path should be changed to fix this for some people.

[2017-04-10 14:10] tanure opened #182 "Problem showing video"
Hello. I'm write an app on Xamarin.Forms. I used the Xamarin Media Manager, like sample code. But, the video doesn't play. I tired to create a new app and use the same page like samples, but I don't have sucess!

This plugin plays the youtube videos? And...What is the problem um my page:

mypage.xaml :
`<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/for

[2017-04-10 14:13] martijn00 commented on #182
As you can see in some other issue's, for Youtube you need the direct link to the video file to be able to play it. See also: https://github.com/martijn00/XamarinMediaManager/issues/124

[2017-04-10 14:13] #182 closed

[2017-04-10 14:15] RobTillie commented on #81
Thanks for the explanation, I wasn't aware of the bait-and-switch trick for plugins.
The issue does not appear to be a MediaManager bug, but a bug in the build system, it has been reported in numerous places:
[https://github.com/jamesmontemagno/Xamarin-Templates/issues/8](https://github.com/jamesmontemagno/Xamarin-Templates/issues/8)
[http://www.poz1.com/baitswitch/](http://www.poz1.com/baitswitch

[2017-04-11 01:08] kwacks commented on #159
I'm also trying to figure this out for iOS. I  tried NSBundle.MainBundle.PathForResource(AppConstants.ResourceFiles.NotificationSound, null) but the file failed.
Also worth noting it's a .caf file.
Any tips on how to get and play local files?

[2017-04-11 21:12] jmartine2 opened #183 "Android notification crashing"
Two of my beta testers got new phones, running Nougat (It' the LG V20 if that matters). They are my first users to run Nougat, I believe. Since then they are producing the following unhandled exception:

Unfortunately, the stack trace does not show any of my code or MediaManager code. However, I do know that my app does not create any Android notifications on its own. The only notification is the

[2017-04-12 08:46] suwantatri opened #184 "help with implementation on visual studio"
i want to use mediamanager to play audio and video from url(android only).
i tried the sample from samples/forms, but there seems something missing from the project folder.
Form example there is this line on the MainActivity.cs on the droid folder :
------
VideoViewRenderer.Init();
------
But there is no VideoViewRenderer on the project?
I'm sorry if my question is too basic, its my first time cre

[2017-04-12 08:47] #184 closed

[2017-04-13 15:15] charlesroddie opened #185 "Questions about XamarinMediaManager"
Media playback has been a problem in Xamarin.Forms so I wish you good luck trying to fill the void.

Questions:
- Does XamarinMediaManager support both full screen playback and non-full-screen playback within a Xamarin.Forms View?
- Does it have a time property that can be read and set? I believe no other video player has got this working yet.
- No chance of Windows 8.1 support? Happens to be a re

[2017-04-13 15:30] martijn00 commented on #185
* There is no support for switching to full screen, but i guess you could do that by changing the size of the view.
* Yes this is supported.
* No this is not on our roadmap.

[2017-04-13 15:30] #185 closed

[2017-04-16 05:28] adrianhall opened #186 "Xamarin.Forms: VideoView does not appear"
Environment is Visual Studio 2017 with Xamarin.Forms 2.3.4.231 (which is the latest release), with a shared project (not a PCL) and iOS, Android and UWP projects.  Plug.MediaManager & Plugin.MediaManager.Forms 0.4.0 is installed. in each project.

I have the following XAML:

[code]

In addition, I've added the `var window=typeof(VideoView);` in the App.cs in the shared project.

Compiling for UWP:

[2017-04-17 11:12] sharatchandra99 commented on #180
Hi,

Am also getting the same issue. The video is playing only once and when i go to previous page and come back the video page again, its not playing any video file.

[2017-04-18 19:23] muqeet-khan opened #187 "Unable to install nuget for XF Android project"
I am able to install the MediaManager nugets for iOS and my portable project but the install fails for Android. XF is at the latest stable version 2.3.4.231 using VS 2017.  I get this error.

![image](https://cloud.githubusercontent.com/assets/6345044/25148996/8549c1c0-2442-11e7-9c0d-4193f4b1764b.png)

I did not update any android libraries. I am not sure why this would pop up. Any help will be ap

[2017-04-20 12:01] hig-dev commented on #187
This is because Xamarin Forms currently only supports the Android Support libraries in version 23.3.0 and the new MediaManager plugin wants 25.1.1 or higher. I think you have to use the MediaManager plugin in version 0.3

[2017-04-20 12:26] martijn00 commented on #187
See https://github.com/martijn00/XamarinMediaManager/issues/163#issuecomment-289018449

[2017-04-20 12:26] #187 closed

[2017-04-20 16:02] muqeet-khan commented on #187
I am new to XF, please bare with me, but, I am using 2.3.4.224 and the requirement is as follows:

![image](https://cloud.githubusercontent.com/assets/6345044/25240502/9c2fbf08-25b8-11e7-98a3-50938cbe50cd.png)

for 2.3.3.192 as follows:
![image](https://cloud.githubusercontent.com/assets/6345044/25240470/86cb2bde-25b8-11e7-8a8d-0bc278107c96.png)

The 2 dependencies look exactly the same to me. So,

[2017-04-21 07:06] martijn00 commented on #187
So the difference is with MonoAndroid 1.0 it is `= 23.3.0` and with 7.0 it is `>= 23.3.0` which means you need to set your Android project to target v7.0 or higher, after that you can update to v25.1.1 or higher support packages.

[2017-04-30 18:12] viper123 opened #188 "iOS playing streaming audio repeats random audio sections"
Hello,

I am tring to use this library to play an audio url, I managed to make the play starts, however sometimes, some sections of audio repeats. I am not getting any exception the audio file playes without interuption, the only thing that does not work -  is that at certain random time it repeats last sections of audio that ware already played. It give you the impression of deja vu.

Stepts to r

[2017-05-03 13:50] riandesign opened #189 "Audio is shown on background as a song is playing"
I've been developing an chat which has voice recorder.
So, users can send audio files and play them.

When I play any audio, it works well, however everytime it is shown on background player and it is there forever. I don't want it. I just want to play the audio inside the app.

Just to illustrate the issue:

![youtube-in-background-ios-7-step-4](https://cloud.githubusercontent.com/assets/5668552/

[2017-05-03 23:25] jmartine2 commented on #144
I have actually run into this problem myself now. I am trying to start playing a song from a specific position. If I call CrossMediaManager.Current.Play(), and then call CrossMediaManager.Current.Seek() right afterward, the song starts playing for a second or two from the beginning before jumping to the sought position. Is there a way to pre-load the media (perhaps in a paused state) so that I can

[2017-05-05 07:24] Ng-India99 opened #190 "Unable to play ios local videos on device"
hello,
I’m trying to play local videos, its working well on android, coming to ios when iam assigning media path to videoView source I’m getting **reference not set to an instance of an object** error on **MediaFailed event handler**. If I given source is http resource its working fine, problem with the only local videos.

**Error StackStrace:**
  at Plugin.MediaManager.VideoPlayerImplementation.O

[2017-05-09 15:25] MichaelMcKinney commented on #159
This seems to be the only way to play media that requires custom http headers to access the files.

Has anyone had any breakthroughs on this? I'm also trying to play a locally downloaded file using [PCLStorage](http://www.c-sharpcorner.com/article/local-file-storage-using-xamarin-form/) in the exact same way as @priehle.

The files I'm using are _not_ resources, and instead are saved locally after

[2017-05-09 17:28] 0xRumple opened #191 "Streaming mp3 not working"
Not sure if it's really broken.

I have written a question in stackoverflow to determine the issue:

http://stackoverflow.com/questions/43876185/streaming-mp3-in-xamarin-android-mediamanager-not-working

[2017-05-10 01:06] jmartine2 commented on #159
Instead of using that version of CrossMediaManager.Current.Play() that takes a string, you should try creating a MediaFile object yourself and calling the version of that method that takes an IMediaFile.

[2017-05-17 17:42] jmartine2 opened #192 "Custom IMediaNotificationManager won't "stick" (Android)"
I am writing my own custom IMediaNotificationManager, but I can't figure out how to inject it. I try setting MediaManager.Current.MediaNotificationManager to a new instance of my own implementation. If I set a breakpoint immediately after setting it, it shows that the reference is pointing to my object. However, soon afterwards (like when I play the next song), it somehow gets reinitialized to the

[2017-05-18 13:45] K232 opened #193 "Xamarin Forms Android unstable"
Hi all,
it seems that Xamarin Forms Android Version has some problems?

I've also tested with Hanselman Minutes App. First video plays fine, then I go back and try to start the second video and it only shows "Buffering" .... Problem is repeatable on emulator and on Android 6 Hardware.

Any ideas?

[2017-05-19 18:05] baptiste09 opened #194 "[Android][ExoPlayer] Video implementation is not working"
ExoPlayerVideoImplementation seems to still be a draft / empty file / work in progress.
We need to display HLS video files on Android, which imply to use ExoPlayer. Any release plan for this feature ?

[2017-05-22 01:35] trandinhnam commented on #163
So, do you mean we need to downgrade xamarin to install this plugin?

[2017-05-22 01:37] trandinhnam commented on #187
So do you mean that we need to downgrade xamarin.form to install this plugin?

[2017-05-22 16:33] morejump commented on #159
anyone has a solution??

[2017-05-24 19:41] jmartine2 opened #196 "ExoPlayer - TimeSpan OverflowException"
I received the following unhandled exception in ExoPlayerAudioService:

android.runtime.JavaProxyThrowable: System.OverflowException: TimeSpan overflowed because the duration is too long.

Stack Trace:
System.TimeSpan.Interval(double value, int scale)<ba45d3baa00f457cb8afa0a7e4e904e1>:0
System.TimeSpan.FromMilliseconds(double value)<ba45d3baa00f457cb8afa0a7e4e904e1>:0
Plugin.MediaManager.ExoPlayer

[2017-05-26 18:18] AndyAnand commented on #180
Hello, i'm also having the same issue. Playing the video for the first time works fine but when backbutton is pressed (window closed) and a new window is created, you get nothing but a black screen.

[2017-05-26 21:05] OPcody commented on #180
Hello everyone,

I have been able to recreate this as well.
So far from investigation, it appears that the CrossMediaManager.Current.VideoPlayer does not reset.
You can see this by checking the status during OnAppearing

Does anyone know how to reset it?

Thanks!

[2017-05-26 23:13] jmartine2 commented on #191
I just wanted to note that the sample app does not work for me either with the streaming audio. If I change the URL's hardcoded in the source code to file paths on my device, it works.

[2017-05-26 23:38] jmartine2 commented on #183
An update on this issue: I've been playing with the NotificationManager. If I comment out all of the code in UpdateNotifications(), the crash does not happen at all. With the current code, the crash happens an average of once every 5-10 songs. If I go back and uncomment everything except the following line:

`nm.Notify(MediaServiceBase.NotificationId, _builder.Build());`

I still get the crash occ

[2017-05-27 11:42] 0xRumple commented on #191
@jmartine2
Yeah... it seems broken.

Still looking for a way to stream audio !
It's really trivial, but I tried these libraries too with no luck:
1- exoplayer: broken too
2- ffmpeg (github.com/wseemann/FFmpegMediaPlayer): when I use "stop" function, app crashes (text relocation problem)
Any idea ?

[2017-05-27 14:36] jmartine2 commented on #191
It used to work for me, but not anymore. It may have stopped working when I switched to the ExoPlayer implementation. Have you tried the stock Android implementation? In the sample app, set ShouldUseExoPlayer to false.

[2017-05-27 19:34] baptiste09 commented on #191
There is an issue into ExoPlayerAudioService. In GetSource(), URLUtil.IsHttpUrl and URLUtil.IsHttpsUrl should be called using url as parameter, not escapedUrl.

[2017-05-27 21:25] 0xRumple commented on #191
@jmartine2
I have tried the stock android implementation like this:

`

	string url1 = @"http://www.jamesreams.com/wp-content/uploads/2013/01/Born-to-Roll-clip.mp3";

	string url2 = @"http://www.wav-sounds.com/answering_machine/rappin.wav";

	var mp = new MediaPlayer();
	mp.Prepared += (sender, args) =>
	{
		mp.Start();
	};
	mp.SetDataSource(url2);
	mp.PrepareAsync();`

Working fine with the wav u

[2017-05-29 01:02] tgraupmann opened #198 "Loop off by default"
[code]

Playing a local wave asset on UWP (Raspberry PI Windows IoT Core) loops the wav file.

It would be great if the Play had an optional loop parameter with loop off by default.

As a workaround I use the media finished callback.
[code]

Click a button to start playing the wav file.
[code]

And use the MediaFinished event to stop playing the audio.
[code]

Optional loop will be better when I h

[2017-05-30 14:28] fmeneuhe opened #199 "VideoView forms with autoplay?"
Hi,
I would like to know if the VideoView for Xamarin Forms has any autoplay function?
Thanks

[2017-05-31 08:39] ArtemKumeisha opened #200 "setDataSource failed: status = 0x80000000 Xamarin Forms (DROID)"
Hi. I have this is MediaExeption.Message on Droid, when im trying play local file for URL (ex: file:///data/data/com.unl.joosr/files/Music1.mp3). Result: file playing, but work mediaPlayer.MediaFileFailed event,  and never go in   CrossMediaManager.Current.MediaFileChanged where im want get metadata for file. On Ios it work fine! idk what happend with droid.  Someone met with this? Thx

Queue.Add(

[2017-05-31 08:40] ArtemKumeisha commented on #200
On ios it work fine!

[2017-05-31 15:58] lazarnikolov94 opened #201 "Audio Playback Speed"
Hi! Is it possible to alter the playback speed to be faster / slower? I see that there is a public float Rate variable in AudioPlayerImplementations.cs, but I can't seem to access it.

[2017-05-31 16:24] corgalore commented on #180
Okay, I have the same problem. I can get the video to start playing again if I hit Stop first, then Play again, but the progress events don't fire on any video after the first one.

[2017-05-31 17:08] corgalore commented on #186
Did you include VideoViewRenderer.Init(); in the OnCreate() method in each native project?

You also need a using reference for Plugin.MediaManager.Forms.Android/iOS.

[2017-05-31 17:09] adrianhall commented on #186
Yes - I included both of those.  I moved on to a different library.

[2017-05-31 17:09] #186 closed

[2017-05-31 18:47] corgalore opened #202 "BufferingChanged does not fire"
I have a basic Xamarin.Forms PCL project in VS 2017, debugging on physical Galaxy S7 Edge device.

With these 2 events wired up, the _BufferingChanged_ event does NOT fire, but the _PlayingChanged_ event DOES fire:

[code]

I set breakpoint inside the _BufferingChanged_ event and it's never hit.

[2017-06-01 00:11] corgalore commented on #186
Adrian,

If you don't mind,  what library did you use?

[2017-06-01 06:19] BtrJay commented on #202
I have tested on Galaxy S6 and had same issue. It seems BufferingChanged not fired at all. Also On StatusChanged event, it seems Status not set to be MediaPlayerStatus.Buffering for Android.

Please see the code below and advise me if you have any workaround/solution to tackle this.

CrossMediaManager.Current.StatusChanged += (sender, e) => {
  if(e.Status ==  MediaPlayerStatus.Buffering){
    //i

[2017-06-01 13:01] dPritz opened #203 "Xamarin Forms UWP Video not rendered"
I'm using Visual Studio 2015 with Xamarin.Forms 2.3.4.231 and using the MediaManager with a PCL. When I start to play a video on UWP only Audio is running. The VideoView element is visible but not the native canvas.

Xaml is mostly used like this:

`        <Grid x:Name="MediaContainer">
            <forms:VideoView x:Name="VideoView" AspectMode="AspectFill" />
        </Grid>
`
Does somebody now

[2017-06-01 15:10] corgalore commented on #202
@BtrJay, I can help you with that one. This code works on S6 for me:

[code]

Try just reading the e.Status string.

[2017-06-01 16:28] jackd942 commented on #203
Having the same issue with VS 2017 and Xamarin.Forms 2.3.4.247. No video, but audio is fine.

[2017-06-05 10:48] kizzonia commented on #191
AM having same issue

[2017-06-06 08:08] modplug commented on #203
I've experienced the same problem on iOS when I didn't Init the VideoViewRenderer.

Try to initialize Xamarin.Forms like this in your UWP app

List<Assembly> assembliesToInclude = new List<Assembly>();
assembliesToInclude.Add(typeof(VideoViewRenderer).GetTypeInfo().Assembly);
Xamarin.Forms.Forms.Init(e, assembliesToInclude);

Please report back :)

[2017-06-07 20:12] dskow commented on #191
In VS 2017, I created a "Cross Platform App (Xamarin)" project and  added Plugin.MediaManager.Forms 0.4.0 and Plugin.MediaManager 0.4.0 nuget packages.

I add the following line to my code.

await CrossMediaManager.Current.Play("http://www.montemagno.com/sample.mp3");

It works by default in the UWP phone emulator on Hyper-v. However, I ran into the "no audio playing" problem using Android Emulato

[2017-06-09 07:10] TheMiao commented on #93
Still have the same issue happened using
PlaybackController.SeekTo(StreamingPosition)
MediaManager.PlaybackController.Play()

[2017-06-10 17:57] lionheadQWERTY opened #204 "Notifications are not stopping on calling MediaNotificationManager.StopNotifications()"
Hi guys,

i cant find a way to edit the notifications or stop them, i am using the package from the NuGet package manager.

Im playing a internet radio stream

[2017-06-12 17:40] Steztric commented on #203
Hi @modplug I also had the same problem in iOS. I just did  `new VideoViewRenderer();` in my Main.cs and it worked. Is there a better way? I couldn't work out how to do it by loading the assemblies manually like you did because the API is not the same in iOS.

[2017-06-13 05:04] pengx commented on #203
UWP doesn't work even with @modplug 's suggestion.
Video still not loading on UWP

[2017-06-13 18:21] EllimanMC opened #205 "tvOS Question"
Using the iOS sample as a guide i can get a video url to play, however i dont see video, i can hear the sound though.

I am setting the renderSurface to my VideoSurface and setting the frame, but the video never appears.

Any thoughts?

[2017-06-13 19:21] K232 commented on #199
Isn't it autoplay by default? For me, the video automatically starts as soon as it's buffered....

[2017-06-16 07:36] krigertvb commented on #204
I also have this problem. Is there a way to turn off notifications on Android?

[2017-06-16 16:58] naice commented on #203
Same here with UWP. :/

[2017-06-18 16:09] JimSEOW commented on #203
same here with UWP

[2017-06-18 21:00] Steztric commented on #203
Have you tried using `VideoViewRenderer.Init()` in your initialisation code?

[2017-06-19 17:25] fmeneuhe opened #206 "Play, pause... buttons"
Hi,
What do I have to do if I want the MediaManager shows the play/pause buttons in Xamarin Forms xaml? Do I have to implement them or they already exist?

[2017-06-23 00:27] SkillerSKL opened #207 "FORMS ANDROID System.Exception: No canvas set for video to play in"
When open page with VideoView appear this error.

[2017-06-23 15:43] pengx commented on #203
there is no VideoViewRenderer.Init()  on UWP

[2017-06-24 14:06] leokidbox commented on #204
Its driving me nuts -_-

Overriding the media notifications should work.

[2017-07-02 11:20] ChristophPie opened #208 "Samples don't compile"
I have downloaded the Repo as ZIP, added thr Nuget package [MediaManager](https://www.nuget.org/packages/Plugin.MediaManager/) from [here](https://github.com/martijn00/XamarinMediaManager/archive/develop.zip).
Then I compiled the whole solution, but I get these errors, attached.
[errors.txt](https://github.com/martijn00/XamarinMediaManager/files/1117739/errors.txt)

I think e.g.
[code]
in "MediaSe

[2017-07-03 01:17] BtrJay commented on #202
Hi @corgalore , thanks for your suggestion.

It looks like StatusChanged is firing for mp4, but not for mp3 when I tested it out.

I've tested it on Samsung Galaxy Tab.

Have you seen this issue at your end?

[2017-07-03 01:23] BtrJay opened #209 "UWP playback resume issue"
Hi @martijn00 ,

It looks like the player doesn't resume where you started ppreviously on UWP.

The steps to reproduce for this issue are

1. Play any mp3 file

2. Pause in the middle of the stream

3. play mp3 again and it restarts from the beginning

Have you had any updates on this?

Kind regards,

Jay

[2017-07-03 07:23] codercampos commented on #180
Confirmed this. I'll try to check it later this week and help the repo (because this is an awesome plugin for Forms)

[2017-07-04 08:52] martijn00 commented on #209
Thanks for filling an issue! Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:52] martijn00 commented on #208
Thanks for filling an issue! Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:53] martijn00 commented on #207
Please look at the samples and provide more information.

[2017-07-04 08:53] #207 closed

[2017-07-04 08:53] martijn00 commented on #206
You have to implement controls yourself. For questions use Stackoverflow next time.

[2017-07-04 08:53] #206 closed

[2017-07-04 08:54] martijn00 commented on #205
Sounds the same as some of the iOS problems with no video appearing. You need to Init the view before playing.

[2017-07-04 08:54] #205 closed

[2017-07-04 08:55] martijn00 commented on #204
There is a fix for this commited, but not online on Nuget yet.

[2017-07-04 08:56] martijn00 commented on #201
Rate is not implemented yet. Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:56] #199 closed

[2017-07-04 08:57] martijn00 commented on #198
Thanks for filling an issue! Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:57] martijn00 commented on #196
Maybe ExoPlayer needs to be updated to the latest version. I have to look into providing updated bindings for ExoPlayer.

[2017-07-04 08:58] martijn00 commented on #194
Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:59] martijn00 commented on #193
Thanks for filling an issue! Can you open a pull request with a fix for this? I would be more then happy to review it!

[2017-07-04 08:59] martijn00 commented on #192
I'll look into putting the new version online on Nuget. I would be happy to review PR's with your fixes!

[2017-07-04 09:00] #191 closed

[2017-07-04 09:01] martijn00 commented on #189
You can override the notificationManager to disable this.

[2017-07-04 09:01] #189 closed

[2017-07-04 09:02] martijn00 commented on #180
@codercampos I would be really happy to see some fixes and PR's coming!

[2017-07-04 09:43] JimSEOW opened #210 "Overlay 2D or 3D content over Live Stream Xamarin Form Video"
@martijn00 , please check this discussion for [bridging Remix3D (indoor) to (outdoor) Mixed Reality using your technology.](https://github.com/Microsoft/WindowsTemplateStudio/issues/561)

[2017-07-05 14:57] K232 commented on #193
I don't have any fix....?

[2017-07-06 12:35] hs79hs opened #211 "can I play multiple videos by multiple VideoViews?"
Hi, can I play multiple videos at the same time using this plugin?
For example, I tried to add 4 <forms:VideoView> in Xaml like this,

<Grid VerticalOptions="FillAndExpand" RowSpacing="0" ColumnSpacing="0">
        <Grid.RowDefinitions>
            <RowDefinition Height="*" />
            <RowDefinition Height="*" />
        </Grid.RowDefinitions>
        <Grid.ColumnDefinitions>
            <Colu

[2017-07-06 12:51] hs79hs commented on #100
@modplug Could you explain more how to play multiple videos at the same time? Or any example code for this? Thank you very much.

[2017-07-06 17:47] fela98 opened #212 "Cannot play any remote files using the ExoPlayer"
On Android, it is currently impossible to play any http or https URL using the ExoPlayer. The reason being the following line:

https://github.com/martijn00/XamarinMediaManager/commit/dcad94ae6981641b2ac443dc1f0b55c0fd492df9#diff-4502773ba4cb767b19ec69fc5a3ac7a0R282

It's the [Uri.EscapeDataString(string)](https://msdn.microsoft.com/en-us/library/system.uri.escapedatastring(v=vs.110).aspx) method

[2017-07-08 22:30] shabirjan commented on #170
Hi, did you found any solution to this bug, i am facing the same issue as well.

[2017-07-09 14:17] managedcoder commented on #203
I also have this same issue and to investigate I built the video example that James Montemagno created at https://github.com/jamesmontemagno/Hanselman.Forms and it has this same problem.  I do think it's strange that the docs say must call VideoViewRenderer.Init() or else you will suffer the exact problem we are discussing here and yet, there is not VideoViewRenderer.Init() for UWP.... is that the

[2017-07-10 14:14] candidodmv commented on #170
No, unfortunately, just found workaround based on my comment above: This exception is raised only second time that is execute the same instance, so I used one instance for video. Open a video, so discart this view and open another video with another instance of view.
Hope this helps you.

[2017-07-10 14:17] shabirjan commented on #170
How , can you tell me. i am using Prism and MVVM so the issue occurs when i go to that page and i assign a method to CrossMediaManager for status changed, so when i go back i remove that method for statuschanged but that is when i get that exception. so for me video works the first time and when i go back, this expception occurs.

[2017-07-11 19:47] shabirjan opened #214 "Android bug"
I am facing a bug/crash/Exception when i use MediaManager video playing on Android using Xamarin forms.

Cannot access a disposed object. Object name: 'Plugin.MediaManager.VideoSurface

This happens when i go back from VideoPlaying page to another page like when i click on back button. And this occurs when i call `CrossMediaManager.Current.Stop()` and `CrossMediaManager.Current.StatusChanged -= me

[2017-07-12 09:18] dPritz commented on #203
The actual issue is that the size of the VideoRenderer was initialised with an ActualWidth and Height of 0. The video was loading and playing correctly but just not visible. Should be fixable by slightly adapting the renderer for UWP

[2017-07-13 00:29] BtrJay commented on #209
Hi @martijn00 ,

We will create a pull request for that.

Regards,

Jay

[2017-07-13 00:43] BtrJay opened #215 "[Android] StatusChanged not returning Buffering"
Hi @martijn00 ,

We have found that Buffering status has not been returned when we subscribed StatusChanged  event while playing musics.

The steps are

1. Play a mp3 file

2. Monitor StatusChanged  Event Handler

e.g.

        private void OnStatusChanged(object sender, StatusChangedEventArgs e)
        {
                var mediaStatus = e.Status;
                if (mediaStatus == MediaPlayerSt

[2017-07-13 04:36] BtrJay commented on #209
Hi @martijn00 ,

It looks like I can't create a pull request from my local branch. (keep getting 403 error)

Could you create one for me that extends develop branch?

Kind Regards,

Jay

[2017-07-13 07:30] martijn00 commented on #209
@BtrJay You need to create a Fork of my repo. After that create a branch and commit your code on it. Then go to my repo on Github and select Create new pull request.

[2017-07-14 07:52] #209 closed

[2017-07-18 09:16] GeorgesKai opened #217 "How can i add subtitles?"
HI,
i cant figure out how to show or add subtitles(SRT)?

Thanks.

[2017-07-20 00:27] upCodeS commented on #159
@MichaelMcKinney Hey I was playing around with your code, it seems to be what I'm looking for in my project. The variable 'myFile.Path', what exactly is going on there?

[2017-07-20 06:27] tankitty commented on #180
@codercampos  at first time can play url normally after that when you set player.Source = "http://..." or same source you will get error

 java.io.FileNotFoundException: No content provider

[2017-07-20 18:17] leokidbox commented on #204
@martijn00  do you know when its going to be on nuget?

[2017-07-21 16:53] einc opened #218 "'forms' is an undeclared prefix"
Hello,
I am trying to implement the MediaForms sample (https://github.com/martijn00/XamarinMediaManager/blob/develop/Samples/Forms/MediaForms/MediaFormsPage.xaml)
However, I get the error:
'forms' is an undeclared prefix. Line 16, position 14.
Here is the code for it:

         <forms:VideoView Grid.Row="0" Grid.RowSpan="1" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand"

[2017-07-21 17:04] tankitty commented on #218
add this namespance

  xmlns:forms="clr-namespace:Plugin.MediaManager.Forms;assembly=Plugin.MediaManager.Forms"

[2017-07-21 18:11] ddomengeaux opened #219 "Mixed MediaFile types in a queue."
The playback controller seems to be set to either video or audio depending on the first type of MediaFile loaded and doesn't seem to reset.

[2017-07-21 18:16] einc commented on #218
I added the namespace and now I can build (there are no errors)  and see the buttons. However, the video does not load or is not there and when I press the play button nothing happens.

This is the code I have for the play button:
void PlayClicked(object sender, System.EventArgs e)
        {
            PlaybackController.Play();
        }

I am using an Android 4.0.3 API 15 to test. I turned on W

[2017-07-21 18:36] einc commented on #218
I changed it so when the PLAY button is pressed, it will read PRESSED. I think the problem is with PlaybackController.Play() but I am not sure what the problem exactly is

[2017-07-21 19:31] lionheadQWERTY opened #220 "How to build the lastest version?."
Hello, i am having trouble building the lastest version, which has a fix on the media notification implementation.

When i clone the repo and try to build it with power shell i get this message:

`File C:\WORK\XamarinMediaManager\build.ps1 cannot be loaded because running scripts is disabled on this system. For
more information, see about_Execution_Policies at http://go.microsoft.com/fwlink/?LinkI

[2017-07-21 21:10] einc opened #221 "Video does not show in Android phone or emulator"
I am using Xamarin Forms for Visual Studio 2017 and am using an Android 4.0.3 API 15 to test and the KitKat 4.4 API 19 Emulator.

 I am following the demo (https://github.com/martijn00/XamarinMediaManager/blob/develop/Samples/Forms/MediaForms/MediaFormsPage.xaml).

My code compiles and there are no errors, but the video does not show. I've tried changing the background of the video, but the backgr

[2017-07-23 08:14] nodoid opened #222 "Notifications not showing in car on android"
I have an app in development that is working mostly ok, but the track being played isn't showing in car from android. The notification bar in the app is working fine (it didn't use anything other than the default one).

The iOS version shows in car without a problem.

This is a forms app.

Do I need to do anything specific (such as make the app formscompat rather than forms) to get the notificatio

[2017-07-24 15:12] mrwcjoughin commented on #190
I am getting the same issue. any assistance ?

[2017-07-25 13:46] BillFulton commented on #190
I saw an iOS post along roughly similar lines where the solution was to prepend "file://", but that's likely what you're already doing. Am interested because planning to use local video files myself. My files are previously downloaded, not in the bundle.

[2017-07-25 14:20] mrwcjoughin commented on #190
@BillFulton Yes I have tried that - without success. it looks like it may have been fixed in 0.0.5 - but i can't use that because I'm also using the .Forms package - and that doesn't support 0.0.5 yet :(

[2017-07-25 19:14] martijn00 commented on #220
I've published new nuget packages. You should not build with the script but with Visual Studio.

[2017-07-25 19:14] #220 closed

[2017-07-25 19:16] martijn00 commented on #212
Please make a proper fix in the PR before i can merge this.

[2017-07-26 00:38] BillFulton commented on #190
@mrwcjoughin Hope it will be fixed soon then. Looks like a really great package  :)

[2017-07-26 12:41] BillFulton commented on #190
I also am unable to play local video or audio from iOS device, but my symptom is a bit different - the request is just ignored with no error. My local files are not in the bundle, they are in a subfolder of Library. My complete code is attached. For both video and audio, it works with web uri but not with file uri. Have not tried Android.
[ShowVideoPage.txt](https://github.com/martijn00/XamarinMed

[2017-07-26 12:42] BillFulton commented on #190
Re .-1, I should have mentioned it is in a Xamarin Forms PCL.

[2017-07-26 15:14] richardpike commented on #204
This clears the notification for me:
[code]
But the icon flashes for about a second. Is there a way to stop it from appearing at all?

[2017-07-27 14:19] RamonEastsoftware commented on #193
Yes, I verify this problem. any ideas Martin?

pushing page with different MediaFile is not working on android. only the first instance is playing.

[2017-07-27 15:16] RamonEastsoftware commented on #193
The error is
07-27 23:15:55.644: E/MediaMetadataRetrieverJNI(28066): getEmbeddedPicture: Call to getEmbeddedPicture failed.

Can you help me fix this? thank you.

[2017-07-28 12:50] mrwcjoughin commented on #190
What i've done for now is use a webview and play the video through there using the HTML video tag - it works well

[2017-07-28 13:28] myrobotzone commented on #81
I was able to fix this, for details checkout the following fork: https://github.com/myrobotzone/XamarinMediaManager. I will create a pull request.

[2017-07-28 19:01] LyndiLeighWK commented on #183
I have a similar issue.  If I play then pause an audio file in my app, then switch to another app (like podcasts) and play an audio file from that app, my app crashes with this exception:

` --- End of managed Android.Util.AndroidRuntimeException stack trace ---
android.app.RemoteServiceException: Bad notification posted from package org.rbc.odb: Couldn't update remote views for: StatusBarNotifica

[2017-07-28 19:36] LyndiLeighWK opened #224 "Android Notifications Reappears After Being Dismissed"
Steps to replicate issue:
1. Play then pause an audio file in my app
2. Dismiss audio player from notifications
3. Switch to another app (BeyondPod)
4. Play audio from podcast app
5. Audio player from my app reappears in notifications after being dismissed already

[2017-07-28 20:02] einc opened #225 "MediaForms.Android only audio"
I cloned the project and am trying to test MediaForms.Android. I have already downloaded the needed packages and enabled the needed properties in Android AppManifest.
When I run the code, I can hear the audio but only see a black screen where the video is supposed to be. I tried HeightRequest = "200" and WidthRequest = "200" but I still only see a black screen.
When I set the background color of t

[2017-07-28 20:07] einc commented on #203
I'm having the same problem for Android. I've called VideoViewRenderer.Init() in my initialization code but
I still only hear the audio. I tried setting HeightRequest="200"  and WidthRequest="100" but I still cannot see the video. Is there something else I can try?

[2017-07-28 20:41] F0rc0sigan opened #226 "How to play local file using Xamarin Forms Android"
Hello,

I am downloading mp4 videos from internet and saving them locally into Personal folder (Environment.SpecialFolder.Personal). Then i am getting file path
`public string GetPersonalFilePath(string fileName)
        {
            string path = Environment.GetFolderPath(Environment.SpecialFolder.Personal);
            string fullPath = System.IO.Path.Combine(path, fileName);
            return

[2017-07-31 04:18] BtrJay opened #228 "UWP: SeekTo doesn't seem to start from where it's supposed to be"
Hi @martijn00 ,

It looks like I've found another issue when I tried to use SeekTo method in UWP.

The steps to replicate

1. Add number to SeekTo method in PlaybackController

MediaManager.PlaybackController.SeekTo(streamingPosition);
MediaManager.PlaybackController.Play();

 2. This isn't working consistently, sometimes start from beginning

Please let me know if you want us to open pull request

[2017-07-31 07:42] martijn00 commented on #228
Hi, a PR would be perfect!

[2017-07-31 13:09] myrobotzone opened #229 "Design for custom playback logic"
Hi all,

In my application I would like to inject custom logic before commencing audio playback, but as far as a can tell this is not supported yet (right?). What do you think about the following design to achieve this?

Application implements custom IPlaybackController class and then assigns it to the PlaybackController property provided by MediaManagerBase. After that any internal calls to the p

[2017-07-31 13:14] martijn00 commented on #229
What about this: https://github.com/martijn00/XamarinMediaManager/blob/develop/MediaManager.Abstractions/IMediaManager.cs#L104

If you want to discuss some stuff directly with me, i'm available at the XamarinChat slack: https://xamarinchat.herokuapp.com/

[2017-07-31 13:18] myrobotzone commented on #229
Is the idea that applications implement IMediaManager?

[2017-07-31 13:19] martijn00 commented on #229
No for most use cases you should not implement that yourself, but instead set a custom implementation of a platform on the MediaManager.

[2017-07-31 13:25] myrobotzone commented on #229
The PlaybackController is a settable property, so from a framework consumer's point of view it looks like setting this is an option for injecting custom playback control logic. However with the current implementation it doesn't work as expected. Similar to issue #192.

[2017-07-31 13:31] martijn00 commented on #229
Right, there might be a bug there. If you make a PR to fix that i could take a look. Also it would be good to talk on Slack about design choices like this.

[2017-07-31 13:35] myrobotzone commented on #229
Great - I'll create a PR with this issue number. And next time I'll use Slack.

[2017-07-31 13:40] martijn00 commented on #229
What's your username over there?

[2017-07-31 19:00] myrobotzone commented on #229
myrobotzone (just joined)

[2017-08-01 06:18] BtrJay commented on #228
Please see #232

[2017-08-02 22:16] javierescobare opened #233 "Video rotation is not working properly on some Android devices"
When trying the Forms sample app on LG G4, the video doesn't rotate properly. I tried with another LG device but then it worked perfectly.

First
![image](https://user-images.githubusercontent.com/15280278/28897407-2cd2eb40-77a6-11e7-9425-f6a86a23bb0c.png)

Go landscape...
![image](https://user-images.githubusercontent.com/15280278/28897338-e2f5026a-77a5-11e7-89ec-60a64addceb2.png)

Then portrait

[2017-08-05 01:23] Inrego opened #234 "Newer versions incompatible with Xamarin.Forms?"
Hey.. It looks like that with Xamarin.Forms, I can only use version 0.3.0

Version 0.4.0 and 0.4.1 requires `Xamarin.Android.Support.v4 >= 25.1.1`, and version 0.4.3 requires `Xamarin.Android.Support.v4 >= 25.3.1`
But the `Xamarin.Forms` package requires `Xamarin.Android.Support.v4 = 23.3.0`

Therefore it seems impossible to use any version newer then 0.3.0 while also having Xamarin.Forms package

[2017-08-05 01:32] Inrego opened #235 "What does it take to show notifications when playing Audio?"
I use the following code to start playing a local audio file. To my disappointment, no notification is shown on my Android emulator. After some digging, I notice that the Android MediaNotificationManager has all the code commented out.

I can see from a few other issues here, that other people does seem to have notifications, so what do I need in order to get it?

    IMediaFile mediaFile = new Me

[2017-08-11 05:44] mattiabaldinger commented on #159
I found the solution for IOS in the sample project, but still no solution for android, also with the things mentioned in the other comments. Anyone?

[2017-08-11 09:58] Happypig375 commented on #177
Bump. Any solutions?

[2017-08-11 10:45] RussellTaylor83 commented on #177
I haven't had any time to use this lately so not from me, sorry.

[2017-08-11 14:54] MichaelMcKinney commented on #159
I looked back on my solution from before and it has long since been changed. However, I found the place where we get the file path. Once we have the file path we can use the `CrossMediaManager.Current.Play(filePath)` piece from before.

Here is a helper function we use to save the downloaded file as a byte array to local storage. The we return the path for that file.

        public static async T

[2017-08-11 16:03] jamesmcroft opened #236 "Own apps notifications dismissed when audio stopped"
Bit of a weird one.

Steps to reproduce.
1. Cause one of your own notifications in an app
2. Use the player to play audio
3. Notice the audio notification and your own in the notification manager
4. Stop the player
5. Notice the notification for the audio and your own are now gone.

The media manager should only manage it's own notifications, not the whole app's

[2017-08-11 18:06] mattiabaldinger commented on #159
@MichaelMcKinney thanks for the hint to copy the files to local storage. with that workaround i could solve my problem..

[2017-08-11 21:50] aiviet opened #237 "[Android] A bug with Auto Play in VideoView's OnSourceChanged"
`<forms:VideoView Source="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />`

When the Source is set as shown above, the OnSourceChanged below will try to add the new media file to the queue and play:

[code]
On Android, the above code will not work and VideoPlayerImplementation will throw an exception shown below:
[code]

The reason being that the Auto Play in OnSourceChanged takes place prio

[2017-08-12 05:35] aiviet opened #238 "[Android] While video is playing, navigating away throws ObjectDisposedException"
In Android's VideoPlayerImplementation, OnPlaying event is periodically fired every 1000msec:

[code]
Navigating to a new page will cause the VideoSurface in the outgoing VideoView to be disposed.
While video is playing, navigating away does not stop the periodic firing of OnPlaying.
ObjectDisposedException is thrown when OnPlaying tries to access VideoSurface that is already disposed.

**To get a

[2017-08-12 08:26] aiviet opened #239 "[Android] Cannot play video when navigating away and back from the video page"
**To reproduce the bug:**
1. On the video page, play some video
2. Navigate to a new page
3. Navigate back to the video page
4. Video will not play from this point onward

**Reason:**
On step (1), video plays no problem because isPlayerReady is false and hence "Init()" is excuted
[code]

On step (2), navigating away from the video page will trigger the dispose of VideoViewCanvas

On step (4), new

[2017-08-13 12:06] Apfelcheck commented on #239
Hi,

i have the same problem. I do not understood the fix exactly. The fix should be done in the source of the framework or can I do anything to get my app running also with the second video playing?

If the fix has to be done in the source them when Martijn will be so glad and will publish a fixed version in the NuGet? Or have I integrate this project in my project too?

Regards and thanks to all

[2017-08-13 23:30] aiviet commented on #239
@Apfelcheck I already created a pull request that fixed #238 and #239 here: https://github.com/martijn00/XamarinMediaManager/pull/240

If you cannot wait for the fix above to be published, you can do this in your app as a "brute force" walk-around solution:

[code]

[2017-08-14 08:00] #237 closed

[2017-08-14 08:00] #238 closed

[2017-08-14 16:20] JohnGalt1717 opened #241 "Azure Media Services with Dynamic AES Encryption"
Hi, I'm trying to pass a token with ?token=<token> per the documentation from Azure however the video says it can't playback because it isn't authorized.

In a native xamarin Droid app I can set the Authorization header and all is well. How do I go about doing the same or working around the token in the URL issue here?

[2017-08-15 18:59] ghost opened #242 "UWP Local Playback?"
Hello everyone,

Has anyone managed to figure out local playback on UWP? From my experience this seems to be a platform-specific implementation, and neither Android nor iOS solutions assist in UWP implementation.

[2017-08-15 20:14] shabirjan commented on #214
@SimonSimCity @modplug @candidodmv @aiviet @fela98 any solution for this issue?

[2017-08-15 22:39] aiviet commented on #214
@shabirjan Based on your descriptions, I think it is the same ObjectDisposedException as in #238. The fix for this has been merged. You need to wait for the next nuget release. Or you can try the walk-around that I suggested in #238.

[2017-08-16 15:54] ThaineNorris commented on #221
Same here. Anyone?

[2017-08-16 16:52] ThaineNorris commented on #203
I have the same problem with UWP and Android. No video is displayed, though its audio is played. I tried forcing  window size in the UWP VideoViewRenderer. but that didn't help either.

[2017-08-17 12:24] Inrego commented on #242
Works fine for me in UWP.

[2017-08-17 12:25] Inrego commented on #235
I solved this. You need an app icon, or to set the Art property of metadata to an object of type android Bitmap.

[2017-08-17 12:25] #235 closed

[2017-08-17 12:26] Inrego commented on #224
I have this same problem. You don't need to switch to another app. Simply just dismiss the notification, and it will reappear after a short while.

[2017-08-17 13:07] candidodmv commented on #214
as this problem was happened a lot of time ago, I don't remember exact details that I did, but the only thing that I'm sure is that was need to use workaround with another way to do what was needed

[2017-08-17 15:35] upCodeS commented on #242
@Inrego Would you be able to provide a sample code of what you are doing? For Android, I'm performing the following:

return Android.Net.Uri.Parse("android.resource://[project].Android/" + Resource.Raw.[resource_name]).ToString();

And for iOS, I'm performing the following:

"return NSBundle.MainBundle.PathForResource(file_ID, "mp3");", where file_ID is a string name of a Media File

These calls r

[2017-08-17 15:46] Inrego commented on #242
Ah, I have not tried with embedded resources. But with my limited experience with Xamarin forms, you usually just provide the filename when you need to access resources (works for images, anyway).
So have you tried something along these lines (for all 3 platforms)?

    await CrossMediaManager.Current.Play("filename.mp3");

I guess it's a bit easier for me, since I download the files on demand, an

[2017-08-18 00:06] Apfelcheck commented on #239
Thank you for the help. Do you know, if it is possible to use the MediaManger in a ContentView only?
Regards

Waldemar

[2017-08-18 00:15] Apfelcheck commented on #239
The solution mentioned above is not working.

[2017-08-18 07:05] aiviet opened #243 "[Android] After video play completed, clicking play agains starts from the end-video position"
When video playing is paused, the method in Android's VideoPlayerImplementation below stores the "lastPosition":

When video playing is finished, the same method above is also called and hence the "lastPosition" would store the ending position. At this point, clicking play again will have the video starting from the end-video position.

Walk-around:
Once video play completed, clicking stop or paus

[2017-08-18 18:32] upCodeS commented on #242
@Inrego Alas, that does not work. It seems like you have to retrieve the resource file path, which I don't know how to execute on UWP.

[2017-08-18 18:35] Inrego commented on #242
Check out this source file from another project (that loads pictures async). It may be of some help.
https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Windows/DataResolvers/ResourceDataResolver.cs

[2017-08-18 20:59] Apfelcheck commented on #239
@martijn00 👍 but, when will you publish to NuGet please?

[2017-08-19 00:08] Inrego commented on #234
I figured it out. Just gotta set "Target Android Version" in Android Project properties tab "Android Manifest" to Android 7.0

Then you can update Xamarin.Android.Support.v4 to newer version, and thus update Plugin.MediaManager to newest version.

[2017-08-19 00:08] #234 closed

[2017-08-19 00:09] Inrego commented on #224
It seems like this has been fixed in newer versions of the package. I've posted instructions on how to update to newest version in this issue: https://github.com/martijn00/XamarinMediaManager/issues/234

[2017-08-19 04:41] aiviet commented on #239
@Apfelcheck I am using MediaManager in ContentView no problem.

Maybe your code has a different problem than the walk around's.

[2017-08-19 17:01] Apfelcheck commented on #239
Thank you for the answers. My code is very simple. I reallly don´t know what the problem is. Can you contact me by PN? Using Facebook or Google Plus?

[2017-08-20 03:28] upCodeS opened #245 "Logic behind a "Now Playing" button"
Hey everyone,
     I'm attempting to implement a NowPlaying button in which it returns me to the mp3 player page (even if other pages are on the navigation stack) without restarting the song currently playing. Any thoughts on how to accomplish this?
Thanks!

[2017-08-20 05:43] #245 closed

[2017-08-20 06:11] SimonSimCity commented on #214
Sorry, but I haven't used this project in quite a while now - and never used Xamarin Forms...

[2017-08-21 08:21] #243 closed

[2017-08-21 16:14] mike-rowley opened #246 "MediaManager 0.44 dependency issue"
I am getting a dependency error on the MediaManager 0.44 Nuget.

Unable to resolve dependencies. 'Plugin.MediaManager 0.4.4' is not compatible with 'Plugin.MediaManager.ExoPlayer 0.4.3 constraint: Plugin.MediaManager (= 0.4.3)', 'Plugin.MediaManager.Forms 0.4.3 constraint: Plugin.MediaManager (= 0.4.3)'.

It appears the ExoPlayer Nuget requires a matching version number, is there a Plugin.MediaMan

[2017-08-21 16:35] martijn00 commented on #246
Unfortunately the ExoPlayer part depends on ExoPlayer 1.x which is quite old. It needs an update to 2.5.1. I would appreciate any help and PR's that fix that.

[2017-08-21 16:42] mike-rowley commented on #246
Ok, thanks, I'll definitely see what I can do

[2017-08-21 16:42] #246 closed

[2017-08-21 19:24] aiviet opened #247 "[Android] Wrong conversion from Duration and Position"
In Android's VideoPlayerImplementation.cs:
[code]

According to documentations, unit is in millisecond, not second
https://developer.android.com/reference/android/media/MediaPlayer.html#getDuration()
https://developer.android.com/reference/android/media/MediaPlayer.html#getCurrentPosition()

[2017-08-22 05:06] aiviet commented on #239
@Apfelcheck You can contact me via my profile email.

[2017-08-22 09:05] lcbpdev opened #248 "Unable to resolve interface types after updating"
I'm developing a Xamarin Forms application for Android and iOS and after updating from Plugin.MediaManager 0.3.0 with ExoPlayer 2.0.4.1 to Plugin.MediaManager 0.4.3 with ExoPlayer 2.5.1.1 I get the following errors:

** Error Description:**
Unable to resolve interface type 'Com.Google.Android.Exoplayer2.Upstream.IDataSourceFactory'. Are you missing an assembly reference?
**Project:**
App.Android
*

[2017-08-22 09:17] martijn00 commented on #248
This is the same as https://github.com/martijn00/XamarinMediaManager/issues/246. Currently there is no support for ExoPlayer 2.x. I would accept contributions to get this updated.

[2017-08-22 09:17] #248 closed

[2017-08-22 20:46] LyndiLeighWK commented on #224
@Inrego Thanks!  I will give that a try.

[2017-08-22 22:16] jmartine2 opened #249 "[Android] Voice search causes incorrect MediaPlayerStatus to be returned"
I have found that using the Google voice search intent (ActionRecognizeSpeech), and then immediately playing a song puts the MediaManager into a state where MediaManager.Status returns MediaPlayerStatus.Paused, even while a media is playing. Once it is in this bad state, it continues to report MediaPlayerStatus.Paused until I force close and restart my app.

This is happening in the Android ExoPla

[2017-08-24 06:04] aiviet opened #250 "[iOS] GestureRecognizers on VideoView works on Android but not on iOS"
The GestureRecognizers on VideoView in XAML below works on Android but not on iOS.

The reason being that the GestureRecognizers registerd with VideoView but are not passed to iOS implementation of VideoSurface

[code]

[2017-08-24 08:57] uzairali001 opened #251 "Local video source in Xamarin Forms"
How can I set the url of local Video?
currently I am able to play videos online by using `videoPlayer.Source = "https://archive.org/download/BigBuckBunny_328/BigBuckBunny_512kb.mp4"`.
I have placed `test.mp4` in Android>Assets and Build action is set to `AndroidAssets`

[2017-08-25 00:21] upCodeS commented on #242
I appreciate you pointing me in the right direction, however couldn't get that to control UWP local playback :/

[2017-08-25 00:28] ghost opened #252 "BUG: Cannot repeat songs in queue"
Despite marking Queue.Repeat = RepeatOne or even adding the same song twice in a row to the queue, I cannot get the player to play any song a second time in a row. I believe this issue was confirmed in an earlier issue (see #177), just wanted to bring it to attention again with the hopes of finding a solution in the future :)

[2017-08-26 03:12] raaajeeev commented on #239
Follow the below along with the previous suggestions in the thread by @aiviet and this issue will be resolved.

**Android:
You must request AccessWifiState, Internet, MediaContentControl and WakeLock permissions**

[2017-09-01 14:29] nodoid opened #253 "Restart audio stream after interruption"
Is it possible with the plugin to restart playback of a remote audio stream after a call finishes?

[2017-09-02 20:03] jwkent opened #254 "iOS Control center artwork not shown after set in OnMediaFileChangedEventHandler."
I am setting the Metadata in the mediaFile using different values.  The title, artist and album are all working fine except for setting AlbumArt, or Art, or DisplayIcon image doesn't display in the iOS control center.  I know I have loaded the image into _albumArtImage variable correctly because I can display the image in my XAML code.

I am using Xamarin.Forms.  What am I doing wrong here?

[code

[2017-09-03 22:18] alexanderdp commented on #186
Regarding the error:
The type or namespace name 'Forms' does not exist in the namespace Plugin.MediaManager are you missing an assembly reference?

You must also install the Nuget Package:
Plugin.MediaManager.Forms

[2017-09-06 15:45] hig-dev commented on #183
I'm also experiencing this problem:

[code]

[2017-09-07 13:52] PaulVrugt opened #255 "Aspect ratio for video not working in android"
Hello,

I'm trying to see if i can use this component in my app. However, in android, setting the aspectmode for the forms component doesn't seem to do anything. Looking at the source, there is a TODO about it. Am I right that the aspectmode is not implemented in android? And if so, how can I prevent the video from being stretched. I mean, if that's not possible, how can anyone use the component?

[2017-09-07 13:53] PaulVrugt opened #256 "Forms example not working in IOS"
Hello,

I'm trying to see if i can use this component in my app. However, in IOS the forms example is not working. No video is displayed, and no error is shown. I first tried to implement it in my own app, later downloaded the example from github, but this is also not working. Am I doing something wrong?

[2017-09-09 03:21] logikonline commented on #255
@PaulVrugt I have a solution if you are using Xamarin Forms - if you IM me, I'll paste you the code to get you moving forward.

[2017-09-11 14:27] VinayGada opened #257 "I am getting "can't play video" error in marshmallow"
I Have used this player to play the video of CC Cameras which were installed in some sites,
am able to play in lollypop and nougat but getting error in marshmallow. please help me in this

[2017-09-11 20:31] codercampos commented on #255
I have a custom render that handle this. Leaving a comment as a bookmark to share with you later

[2017-09-13 07:53] gbolahanonamusi opened #258 "System.Exception: Could not initialize an instance of the type 'AVFoundation.AVAudioPlayer'"
When trying to play .WAV files on iOS i get this exception:

[code]

[2017-09-13 15:04] KalpeshVedak commented on #183
We are seeing this issue too

[2017-09-14 07:37] aiviet opened #259 "Feature request to select video's audio track(s) on iOS and Android"
Feature request to select video's audio track(s) on iOS and Android

[2017-09-14 08:30] KalpeshVedak commented on #183
Got a fix for my application , calling the notification update of large icon too fast leads to the problem
if you have a task that is updating notification icon and it is getting called too fast then it results in this issue
ideally large icon should only be set when the song changes and not on every action like play pause

[2017-09-16 16:53] hig-dev commented on #183
I'm working on a fix in my fork https://github.com/hig-dev/XamarinMediaManager
Don't know yet if it's working fully. I will make further tests but it looks promising.
Once I tested everything, I will make a pull request.

[2017-09-16 18:03] eliasribeiro commented on #251
I have same question, video e audio locally. Audio in iOS put in Resource folder and work, but Android not work in Resource/raw or Assets folder. Someone have know to do play in Android locally?

[2017-09-17 23:00] Inrego commented on #224
Update! No, it doesn't seem to be fixed in newer versions.

[2017-09-18 12:37] Onjay commented on #203
I am having the same issue. The video will not render, but audio will play. I'm using 0.4.3, Plug.MediaManger.Forms, and Plugin.MediaManager. I've set a height and width in XAML for the control, with no effect. I've set UWP's App.xaml.cs to typeof(VideoViewRenderer).GetTypeInfo().Assembly, and/or Mainpage's new VideoViewRenderer(); with no effect.

[2017-09-18 13:16] johnthiriet commented on #203
I can confirm the same issue. I can't even debug the sample project since because of bait and switch I can't put a breakpoint inside the VideoViewRenderer class for UWP.

[2017-09-20 06:29] aiviet commented on #239
Fixed in #240

[2017-09-20 06:29] #239 closed

[2017-09-20 06:49] aiviet commented on #251
Android project has "Assets" folder which is equivalent to iOs' Resource folder. However you cannot use file bundled in "Android Assets" directly. You have to copy files from Asset to personal folder and assign video source to the full path of the copied files.

[2017-09-20 06:52] aiviet commented on #256
In Info.plist, make sure your have this permission enabled:
<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

[2017-09-20 07:05] aiviet commented on #233
Use this layout

<?xml version="1.0" encoding="utf-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms" xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:local="clr-namespace:MediaForms"
             xmlns:forms="clr-namespace:Plugin.MediaManager.Forms;assembly=Plugin.MediaManager.Forms"
             x:Class="MediaForms.MediaFormsPage">
	<Grid>
		<Grid.RowDefinit

[2017-09-20 08:08] aiviet opened #261 "[Feature request] Ability to play video/audio on multiple VideoViews simultaneously"
Adding the ability to play video/audio in multiple VideoViews simultaneously.

The current restriction of only one VideoView can play is due to the referencing of  to the singleton CrossMediaManager.Current below:

[code]

[2017-09-21 02:59] vincilbishop commented on #225
Getting this issue on iOS as well :(

[2017-09-21 17:11] javieresc97 commented on #233
Same problem :/

[2017-09-23 08:07] kanvuduc commented on #170
Same error here, any one fixed it?

[2017-09-24 02:19] ThaineNorris commented on #254
Hello John, did you ever find a solution to this?

[2017-09-24 02:47] jwkent commented on #254
No I didn't find any solution.

Sincerely,
John

[2017-09-24 04:33] ThaineNorris commented on #254
That's a bummer. I am working on an app that plays Christian ministry podcasts. I tried modifying one of the MP3 files to see if the album art would get extracted from the file, which seems to be suggested by perusing the source code. But I couldn't get that to work either. It wouldn't be a problem except that the iOS remote player on the lock screen always displays album art.

I'll let you know i

[2017-09-24 19:54] jwkent commented on #254
Sounds like we are working on similar apps.  I am creating an update to my app which can found on the App Store:
https://itunes.apple.com/us/app/narrowpath/id991591148?mt=8

[2017-09-26 13:56] JohnGalt1717 opened #262 "Xamarin Forms Control needs it's own controls and handle full screen with property"
Right now to hack in Fullscreen on Xamarin Forms requires a major amount of hacking in the Droid and iOS projects on top of everything else.  This should simply be a property for full screen and it should automatically expand on every platform.

Further to this, the player needs it's own controls. The reason why it should be built into the player is so that when full screen and the user taps on th

[2017-09-26 21:01] AndreiMisiukevich commented on #201
@martijn00
Some updates?) It would be useful feature..

[2017-09-27 09:27] aiviet opened #263 "[Feature Request] Ability to SetVolume and Mute VideoPlayer"
The current IVolumeManager is just a place holder. There is no code to set volume or mute of VideoPlayer.

[2017-10-03 00:08] michael-watson commented on #221
@einc @ThaineNorris, have you guys checked the Application Output to see what it is saying? I'm seeing some issues with "No Content Provider" in the output. I'm trying to figure out what is going on.

[2017-10-03 11:08] Vaibhav-Khanna commented on #253
Having the same issue as well. I tried but couldn't find the solution to it

[2017-10-03 14:58] JohnGalt1717 commented on #162
@candidodmv Can you share some code on how you setup full screen?

[2017-10-03 15:10] JohnGalt1717 commented on #255
Here here! This needs to be fixed!

[2017-10-03 23:47] BtrJay opened #265 "[Android] Keep the sync with built-in media player (Available from notification center)"
Hi @martijn00 ,

I've found one issue that Android mediaplayer doesn't sync with CrossMediaManager.

You can follow the steps to replicate it.

- play one mp3 file
- swipe down to see the notification center
- see built-in android player
- Prev/Next button is visible although I have only one mp3 file is playing

![android_issue](https://user-images.githubusercontent.com/22138279/31154228-6118dc4e-

[2017-10-04 11:41] interCreaciones opened #267 "I need to add some extra functionality"
Hi guys, it's amazing the work you are doing with this plugin, it has made me a lot of work, although now I have a small problem and I do not know how to approach it, I need to add some extra functionality and the nugget packages can not be modified, I tried add plugin folders(abstraction, mediamanager, etc..) to my project without success, I have also tried to compile the source code that you hav

[2017-10-04 11:48] martijn00 commented on #267
The develop branch builds for me. You could modify that and make a pull request so i can update the nuget. You can also override the interface for something you want to change. You can also open issue's with feature requests here, but i don't know when i can work on them.

[2017-10-04 16:35] keertanadapari commented on #141
Hi,any solution ?am also facing same problem.

[2017-10-04 18:33] interCreaciones commented on #267
Thank you for answering so quickly, My goal is change the appearance of the bar notification and the lockscreen. I'm trying to implement my own IMediaNotificationManager but do not really know how to do it.
I think I need create in PCL my own Interface that inherit from IMediaNotificationManager just like DependencyService, but I'm a mess. Thanks for all.

[2017-10-04 23:14] ThaineNorris commented on #201
Playback speed would be greatly appreciated!

[2017-10-08 19:22] Leomachado666 opened #269 "Cant listen to this Icecast Stream."
Hello!

I am trying to play this stream in my app and i dont know why the media player cant play it correctly, some times the stream plays, and some times i can only hear weird fastfowarded sound.

sometimes it takes up to a minute to play

http://195.154.182.222:27126/stream

[2017-10-09 07:19] keertanadapari commented on #252
Hi,i am also having same problem.i cant able to play songs sequentially which is in queue.if you got solution,please share me.

[2017-10-09 09:34] keertanadapari commented on #176
Hi,i am having problem to play songs in sequentially which is in queue.please help me.i fallowed the below steps to add files to queue and play songs one by one.but its not working for me.
 await CrossMediaManager.Current.Play(media_file);
 CrossMediaManager.Current.MediaQueue.Repeat = RepeatType.RepeatAll;

[2017-10-09 14:28] codercampos commented on #255
To giving (finally a clue) how We can solve this:

I wrote my own ViewRenderer that uses a custom layout, inflates it and add it to the native control. The code I used is this on the OnElementChanged method:

[code]

And this is the layout I used:
[code]

This fixes the aspect ratio on the video (So far I tested it). I grabbed this I don't remember where (maybe stackoverflow or something) but this

[2017-10-09 23:04] muqeet-khan opened #270 "GestureRecognizer attached to VideoView never gets called."
I have a simple view view to which I am trying to add a gesture recognizer to hide\show the video controls. However, the gesture recognizer never gets hit.

The below is ain a
[code]
OnAppearing is as follows:
[code]

I am not sure what is it that I am doing wrong here.

[2017-10-10 20:48] aiviet commented on #270
It is the same problem as reported here #250
The fix is available in the pull request #260

https://github.com/martijn00/XamarinMediaManager/pull/260/commits/19569ebded665f86bc217424b29c1204e9db5517

[2017-10-10 20:51] martijn00 commented on #270
@aiviet as requested before in that PR, can you split up your fixes into small PR's? It is too hard to review right now.

[2017-10-10 23:03] #265 closed

[2017-10-11 10:23] jimespen commented on #256
@aiviet I also tried doing this for my Xamarin.iOS app, but I'm experiencing the exact same behaviour.

[2017-10-11 15:13] brminnick opened #272 "v1.0 Specifications"
# v1.0 Specifications
Here is the list of features to finish before releasing v1.0

## Priority
- [x] Add NetStandard support
- [x] Use `MediaBrowserServiceCompat` for Android so Audio doesn't die on Oreo
- [x] Implement support for Aspect Ratio on Android [#255](https://github.com/martijn00/XamarinMediaManager/issues/255)
- [x] Implement Android ExoPlayer & make it the default

## Optional
- [ ]

[2017-10-11 18:46] candidodmv commented on #162
Hi @JohnGalt1717 , I can't share the code here because is a part of private product. But let me explan to you, and you will see that there's no magic. I assume that you are you using Xamarin.Forms

1) You must create a new ContentView(C# or XAML) and put your video frame that. I suggest to you use the official sample:
https://github.com/martijn00/XamarinMediaManager/blob/develop/Samples/Forms/Medi

[2017-10-11 19:15] candidodmv commented on #170
@tuyen-vuduc  I think that this issue was not fixed by maintainer(yet), but as cited above I've found an workaround, as reinforced bellow:

@shabirjan the workaround is basically create manually a new instance of the player each time the player will be show, it's include bind again every events, and controlling every logic. I'm also using an MVVM(FreshMVVM), instead to delegate the responsibility

[2017-10-12 16:19] mike-rowley commented on #269
I tried your URL and there is definitely an issue, it does take a very long time to start, I would suggest trying ShoutCast or a reconfiguration of the Icecast stream.  I am currently streaming HE-AAC @ 128kbps with no issues and nothing more than a 2-3 second lag in the stream starting while it initially buffers.

If it were me, I would look into a reconfiguration of the stream and even test a Sh

[2017-10-13 12:53] AnthonyLatty opened #273 "Fails to launch in onclick event handler"
Hello,

I have a project that uses this plugin, everything works as expected until i wrap ` await CrossMediaManager.Current.Play("audio file");` in an onclick event handler.

Does anyone have had this error or bug?

[2017-10-14 03:42] #273 closed

[2017-10-14 21:35] mike-rowley commented on #254
I'm searching for an answer to this issue as well.

[2017-10-15 23:52] mike-rowley commented on #267
Once PR#277 is released, there will be a process in place to replace the Android Media Notification Manager by creating a class in your Android app inherited from IAndroidMediaNotificationManager.

Then by assigning that class to the MediaNotificationManager like this: CrossMediaManager.Current.MediaNotificationManager = new zoMediaNotificationManagerImplementation(Android.App.Application.Context,

[2017-10-16 15:04] JohnGalt1717 opened #278 "Linking fails on Android with Media Manager (latest)"
using Oreo sdk, and the latest nuget packages and Xamarin Forms etc. if you enable Linking (either sdk only or sdk and user assemblies it will fail with the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void Plugin.MediaManager.MediaNotificationManager

[2017-10-16 20:57] mattperzel commented on #278
Also seeing this.  Currently trying to debug it.

[2017-10-16 21:13] martijn00 commented on #278
Are you using newer Android Support Packages than the dependencies? Like v25.4 or v26?

[2017-10-16 21:14] JohnGalt1717 commented on #278
Yes. Forms now allows for latest. Hence a fully Oreo ready forms project uses v26.

[2017-10-16 21:15] mattperzel commented on #278
We also upgraded to 26. I'm trying to see if it builds when targeting O now.

[2017-10-16 21:24] martijn00 commented on #278
I guess the problem lays in that. The current code base has no guarantee to work with anything higher then 25.3.1. There is some work done to update to v26 but that is not finished yet.

[2017-10-16 21:26] JohnGalt1717 commented on #278
It works. It just won't link or aot.

[2017-10-17 00:36] mattperzel commented on #278
I was able to confirm that upgrading the Android to use the official Xamarin 26.0.2 Support versions did work on a non-forms project.  Other then some build script issues, the changes to the Android project were only the references.

[2017-10-17 01:37] jamesmontemagno opened #279 "How does one set the info in the Android notification?"
![image](https://user-images.githubusercontent.com/1676321/31642666-e97ec946-b2a0-11e7-911c-fc10b64674ef.png)

I am doing this:
[code]

I am not sure if the mp3 has any meta data in it, so was trying to set it manually?

[2017-10-18 08:39] potterdev opened #281 "iOS background audio not working"
In version 0.4.4 and iOS 11 the audio stops when app is in background even with everything added in Info.plist. This also happens in the sample application.
Even though you can't hear the audio, when resuming the app, it continues as if it were still playing (without being paused while in the background).

[2017-10-18 15:37] ericleroy01 opened #282 "Error while playing audio file"
Hi,

app crashes when attempt to play an audio file

getting following error :
I/mono-stdout( 1566): Method 'Android.Support.V7.App.NotificationCompat/MediaStyle.SetMediaSession' not found.
Method 'Android.Support.V7.App.NotificationCompat/MediaStyle.SetMediaSession' not found.

[2017-10-18 21:26] mike-rowley commented on #279
The Android notification extracts whatever data may or may not be in the ID3 tags and displays that, overwriting anything you have manually entered.  I am not sure if it was initially designed that a user can enter their own meta data, however I have added a bool ExtractMetadata property to the media file, allowing a user to prevent the overwrite.
PR#285 addresses this issue on Android

[2017-10-18 21:37] jamesmontemagno commented on #279
I will fix up the ID3 tags on these MP3s, that makes sense :)

[2017-10-19 12:05] potterdev commented on #281
Never mind. It seems the background play works on an actual device. Only in the simulator it seems to fade out.

[2017-10-19 12:27] ThaineNorris commented on #281
I can confirm this also. Background audio used to work before iOS 11.

Also, I have code that stops then replaces the currently playing audio when the user selects a different podcast. This works on Android and UWP and used to work on iOS. Now it crashes on iOS 11.

I noticed via some debugging output that audio buffering continues even after Stop() has been called. I don't know if this was the be

[2017-10-19 16:10] mike-rowley commented on #281
Apparently this is a known issue, Jeremy Huddleston Sequoia is an Apple Engineer according to his bio.
https://stackoverflow.com/questions/46601068/backgound-audio-not-working-in-ios10-ios11-on-simulator

[2017-10-19 16:15] mike-rowley commented on #282
We'll need some details, are you running a branch?  Or the Nuget 0.45?

Anything else you can provide to help us reproduce the issue would be good.

[2017-10-20 14:25] ThaineNorris commented on #281
I thought I had my info.plist settings correct, but I didn't. Background audio **is working** on my physical device.

[2017-10-23 17:48] bond-os commented on #282
Hi,

I have the same error on 0.4.5 from nuget, after upgrading monoandroid from 7.1 to 8.0

[2017-10-24 18:09] ThaineNorris commented on #282
Hello, I have encountered the same error running 0.4.5 from nuget under monoandroid 8.0.

Method 'Android.Support.V7.App.NotificationCompat/MediaStyle.SetMediaSession' not found.
I/mono-stdout( 1780): Method 'Android.Support.V7.App.NotificationCompat/MediaStyle.SetMediaSession' not found.
An unhandled exception occured.

[2017-10-24 22:29] ThaineNorris opened #288 "iOS never reports MediaPlayerStatus.Stopped"
Perhaps I am missing something, but even though my audio plays to the end, the media player never reports MediaPlayerStatus.Stopped to the StatusChanged event handler. This event *is* reported on Android and UWP.

[2017-10-26 02:08] BtrJay opened #290 "[All Platforms] Play(IEnumerable<IMediaFile> mediaFiles) seems not playing media files in order"
Hi @martijn00 ,

I've found that there's an issue when you invoke Play overloading method passing list of mediaFiles as a parameter.

Steps to reproduce (Plugin.MediaManager 0.4.5)

1. Create a list of media files

            var list = new List<MediaFile>
            {
                new MediaFile
                {
                    Url = "https://audioboom.com/posts/5766044-follow-up-305.mp3

[2017-10-26 16:36] mike-rowley commented on #282
I have no issues running the Android sample apps with Xamarin.Android.* libraries at 25.3.1.  XamarinMediaManager 0.45 was released 16 days ago, Xamarin.Android.* 26.0.2 libraries that support MonoAndroid 8 were released 13 days ago.

Make sure you are running the 25.3.1 version of Xamarin.Android.* dependencies and MonoAndroid 7 with 0.45.

[2017-10-26 16:43] ThaineNorris commented on #282
Thanks for the reply. I downgraded the Android nuget packages from 26.0.2 to 25.4.0.2, and now all is well.

[2017-10-26 16:46] mike-rowley commented on #282
Excellent, thanks for the update.

[2017-10-27 06:44] BtrJay commented on #215
Hi @martijn00 ,

This issue seems to be happening on Android. (fixed on UWP)

I will have a look to see if I can resolve this.

Kind Regards,

Jay Sim

[2017-10-27 07:34] ericleroy01 commented on #261
is there a way to play 2 (or more) sounds at same time ?

[2017-11-01 02:41] nodoid commented on #278
I'm getting this with 25.3.1 targeting android 7.1 in my forms project. Is there something I need to be doing to get a build out for testing?

[2017-11-04 13:42] Srinivasdelta opened #291 "How to play local audio file ?"
I tried to play local audio file with below code:-

 var mediaFile = new MediaFile
            {
                Type = MediaFileType.Audio,
                Availability = ResourceAvailability.Local,
                Url = "sample.mp3",
                ExtractMetadata = true
            };
            await CrossMediaManager.Current.Play(mediaFile);

--> But the file is not playing --> Audio file p

[2017-11-04 15:05] ragnarek81997 commented on #291
i use native solution (Android):
[code]

[2017-11-04 15:22] ragnarek81997 opened #292 "Crash in constructor MediaSessionCompat (Android)"
I have a problem when creating an object of MediaSessionCompat.
Exception:
`Java.Lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()`
Temporarily solved this problem by calling in a ui thread (if so you can call it):
[code]
After this notice began to work, but not stable. Somewhat improved the situation of the call of the body of the method UpdatePlayback

[2017-11-06 15:36] Ruddy2007 commented on #247
This needs to be fixed. A huge issue with a simple fix.

[2017-11-07 04:50] Nickprovs opened #293 "Why Wont The MediaNotificationManager Die?"
I have this line in my constructor on my page.

```` CrossMediaManager.Current.AudioPlayer.StatusChanged += OnStatusChangedHandler;````

This is a method in that class.

[code]

This is audioCleanup()
[code]

The media manager notification bar thing at the top disappears and then reappears in a second. Despite there not being any audio playing. I'm testing on Android atm.

[2017-11-07 13:34] Ruddy2007 commented on #202
Buffering is never hit after the first load. If you seek etc it never gets hit. We kind of need this to tell the user it is buffing. Any fix?

[2017-11-07 17:24] mike-rowley commented on #293
I had this exact issue, in my case it was a timer I had setup calling UpdateNotification, which reinitializes the Notification.

[2017-11-07 17:26] mike-rowley commented on #292
It's hard to say what the problem is without more context to be able to reproduce the problem.

[2017-11-07 17:28] mike-rowley commented on #288
There seems to be an issue with how iOS is reporting those stop events, they come back as a pause.  I will try to investigate this further, if you have a PR with a fix please send it over, we'd be more than happy to have a look at it.

[2017-11-07 23:19] ragnarek81997 commented on #292
The problem is that I'm not sure about the correctness of my decision.

[2017-11-07 23:24] mike-rowley commented on #292
I know nothing of the specifics of how you're getting the error, so I cannot comment on the decision you made. Context is critical.

[2017-11-07 23:33] ragnarek81997 commented on #292
Is the reason for getting an exception is AplicationContext?

[2017-11-07 23:35] mike-rowley commented on #292
If you do not provide your app code in which you are "creating an object of MediaSessionCompat" I cannot help you.  Send me a sample project reproducing the issue you are running into and I can try to help.

[2017-11-07 23:38] ragnarek81997 commented on #292
https://github.com/ragnarek81997/MusicStoreMobile
https://github.com/ragnarek81997/MusicStoreMobile/blob/master/MediaManager.Android/MediaSession/MediaSessionManager.cs
line 86
                    Android.App.Application.SynchronizationContext.Send(delegate
                    {
                        mediaSessionCompat = new MediaSessionCompat(applicationContext, "MusicStoreAudio", RemoteCompone

[2017-11-07 23:51] mike-rowley commented on #292
First off, set your Target Framework to 7.1, the 0.45 release code is compiled prior to the 8.0 SDK release, this library does not yet work with the 8.0 SDK

Also I am unable to run the code in your Master branch.  It starts a white screen then ends immediately on a Nexus 6p.

[2017-11-08 00:24] ragnarek81997 commented on #292
sorry, I forgot that I tested the torrent library, because of this and ending immediately the application. already corrected you will see the logon page and the audio player notification (https://github.com/ragnarek81997/MusicStoreMobile/blob/master/MusicStoreMobile.Droid/Views/AudioPlayerView.cs)

[2017-11-08 00:35] mike-rowley commented on #292
Your Projects are still compiling with 8.0.  Putting that aside, the player starts, plays the Aaron Neville song, not sure where your crash is?

[2017-11-08 00:36] BtrJay commented on #202
@Ruddy2007, I think I've got an fix and will create a PR shortly. The issue is more related to #215 I will close this off

[2017-11-08 00:43] ragnarek81997 commented on #292
here https://github.com/ragnarek81997/MusicStoreMobile/blob/master/MediaManager.Android/MediaSession/MediaSessionManager.cs
delete  Android.App.Application.SynchronizationContext.Send(delegate
 in lines 84 and 146 (this is my fix)

[2017-11-08 00:45] ragnarek81997 commented on #292
After that you will hear music, but notifications will not appear, this is a problem

[2017-11-08 00:51] BtrJay opened #294 "[Android] Backward/Forward button is missing in Notification bar"
Hi @martijn00 ,

We have found that backward/forward button is missing in notification bar. (Please see the attachment below)

![backwardforwardbuttons](https://user-images.githubusercontent.com/22138279/32525941-f9c3a4de-c47a-11e7-81b8-33182417e175.png)

The steps to replicate is

1. Play/pause something

2. Check the notification centre

Is there a fix already merged or is it something we need t

[2017-11-08 00:52] mike-rowley commented on #292
I removed the MediaManager Projects and replaced them with the 0.45 Nuget package and music plays with no issues and the Notifications appear with no issues or crashes on a Nexus 6p with Oreo installed.

I don't know what else you may have changed in the MediaManager Projects that are causing the problem or when you pulled the code, there may be code in the branch that hasn't been fully regression

[2017-11-08 00:57] ragnarek81997 commented on #292
did you use monodroid 8.0?

[2017-11-08 00:59] mike-rowley commented on #292
I did, but wouldn't recommend it.  You may run into other issues.

I used your exact code, unchanged except for adding the Nugets and removing the other projects.

[2017-11-08 01:01] mike-rowley commented on #294
Does the playlist have songs ahead and behind it?  There was new code added to show and hide the buttons based on the playlist in MediaSession\MediaNotificationManagerImplementation.cs.

You can change this functionality by using the IAndroidMediaNotificationManager interface and implementing your own version of the Notification Manager.  I would suggest starting with the existing code and modifyi

[2017-11-08 01:11] ragnarek81997 commented on #292
I did what you put in, but I do not see notifications, although music is playing.
Xaomi Redmi Note 3 pro
Android 6.0.1

[2017-11-08 01:33] ragnarek81997 commented on #292
output on build droid project, maybe there is a problem
[code]

[2017-11-08 01:38] mike-rowley commented on #292
I sent you a PR to your repository with the code changes that work on my side.

Best of luck.

[2017-11-08 01:41] ragnarek81997 commented on #292
Thank you very much for your help!

[2017-11-08 01:42] BtrJay commented on #294
Hi @mike-rowley ,

I have submitted the pull request to determine visibility of previous/next button, but not backward/forward button.

By the way, thanks for your suggestion.

Kind Regards,

Jay

[2017-11-08 02:04] #292 closed

[2017-11-08 15:06] potterdev opened #295 "Notification controls not working with Exoplayer"
The notification controls are not working with the exoplayer implementation.
I tried to write a custom notification manager implementation but I'm probably doing something wrong since OnReceive is never called on the BroadcastReceiver.

Any help is highly appreciated.

Thanks and great work so far !

[2017-11-08 17:02] Nickprovs commented on #293
@mike-rowley I  don't recall ever having called UpdateNotification. My application generates a sound file based on user input upon a button click. At which point, I generate a .wav and await the media manager to play the sound. That's the extent of it.

[2017-11-08 19:42] mike-rowley commented on #290
We would be happy to have a look at a PR that fixes this issue. Thanks

[2017-11-08 22:09] BtrJay commented on #290
Thanks @mike-rowley ,

We will create a PR shortly with the fixes for this issue.

Regards,

Jay

[2017-11-09 04:19] ThaineNorris opened #298 "Error after roughly 15 minutes of audio"
I have written a podcast player using the XMM player and it works great on iOS. However, on Android the audio stops after roughly 15 minutes. During the playback, Android reports the following error 2-3 times:

W/MediaHTTPConnection(21980): readAt 23084778 / 32768 => java.net.ProtocolException: unexpected end of stream

Then, after approximately 15 minutes, the playback stops and the following err

[2017-11-09 04:32] mike-rowley commented on #298
What version of Android are you testing it on?

[2017-11-09 04:33] ThaineNorris commented on #298
Your sample application uses 25.3.1. My application uses 25.4.0.2. Both have the same errors.

Sent from Mail for Windows 10

From: Mike Rowley
Sent: Wednesday, November 8, 2017 9:32 PM
To: martijn00/XamarinMediaManager
Cc: ThaineNorris; Author
Subject: Re: [martijn00/XamarinMediaManager] Error after roughly 15 minutes ofaudio (#298)

What version of Android are you testing it on?
—
You are receiv

[2017-11-09 04:34] mike-rowley commented on #298
What version of Android is on the phone you are testing with?

[2017-11-09 04:36] ThaineNorris commented on #298
The MediaSample application is configured to “Use latest platform (Android 8.0 (Oreo))”

My application is configured to use “Android 7.1 (Nougat)”

I am testing on a Sony xPeria with Android 7.1.1

Sent from Mail for Windows 10

From: Mike Rowley
Sent: Wednesday, November 8, 2017 9:32 PM
To: martijn00/XamarinMediaManager
Cc: ThaineNorris; Author
Subject: Re: [martijn00/XamarinMediaManager] Error

[2017-11-09 05:33] mike-rowley commented on #298
I tested your file in the MediaForms Android app, it played the entire file with no error.  I am testing it again now, I'll let you know if I can reproduce the issue but it looks like it may be something else in your setup or code base that is the issue.

I have personally used the MediaManager on Android to play ShoutCast streams for in excess of 8 hours continuously with no issues at all.

There

[2017-11-09 05:58] mike-rowley commented on #298
I am getting an error but a different error around the 20 minute mark twice.  I'm testing a different file to ensure it isn't a corrupt mp3.

11-08 22:47:28.592 E/MediaPlayerNative(16824): error (1, -1010)
11-08 22:47:28.593 E/MediaPlayer(16824): Error (1,-1010)

[2017-11-09 06:33] mike-rowley commented on #298
I would suggest looking at the connection timeout limit on your server, I am able to play an Azure CDN hosted MP3 via HTTPS stream in excess of 30 minutes and still going.

[2017-11-09 10:52] #290 closed

[2017-11-09 10:53] #267 closed

[2017-11-09 10:53] #263 closed

[2017-11-09 10:54] #255 closed

[2017-11-09 14:27] ThaineNorris commented on #298
If there is a timeout limit on our server, would that also affect iOS? The XMM code works without issue on iOS. Is it because the iOS implementation buffers and the Android one does not? I'm not sure where to look for such a timeout if that is the case, but I have asked our host.

You said you used the MediaForms Android app to test it. When I look at that project, the only object available in the

[2017-11-09 17:21] ThaineNorris opened #299 "Sample (Simple/MediaSample.Droid) app does not work"
I downloaded the code base to build the sample projects afresh.

First, the samples do not build out of the box. I had to tweak the Android version (to 7) and remove all UWP projects just to get it to start building.

Next, the constructor for MediaSessionManager in Simple/MediaSample.Droid/MainActivity.cs does not take three arguments, so I had to change that.

Finally, after deploying it to my A

[2017-11-09 17:40] mike-rowley commented on #298
The timeout may be an issue based on how Android is connecting to the server.  It may differ on iOS because iOS is doing buffering and controlling the transport layer differently.  I am not an export but that is my educated guess.

XamForms apps have a shared lib or PCL that contains the majority of the app code, only startup code and platform specifics are contained in the platform specific proje

[2017-11-09 17:49] ThaineNorris commented on #298
That all makes sense. We are looking into the server timeout for a short term solution and ExoPlayer for a long term solution. I opened a separate issue about problems with ExoPlayer in the sample app. I look forward to testing it!

[2017-11-09 18:00] potterdev commented on #295
Seems the same problem happens on ios 11, the controls don't do anything. (using the default player)

[2017-11-09 18:05] mike-rowley commented on #295
The MediaManager currently uses V1 of ExoPlayer, we are working on a V1 update that will use ExoPlayer2.

I have no problem with the controls working on Android using MediaPlayer or on iOS using AVPlayer.

[2017-11-09 18:06] mike-rowley commented on #299
This PR solves the compilation error and I have confirmed that the MediaSample.Android project plays successfully on physical devices with Android 8.0 and 5.0

[2017-11-09 18:08] #299 closed

[2017-11-09 18:08] ThaineNorris commented on #299
Thanks! I'll give it a try!

[2017-11-09 18:22] potterdev commented on #295
Then I must me doing something wrong on my iOS project...

[2017-11-09 19:38] ThaineNorris commented on #299
Okay, I downloaded the PR and got it to build without any changes to the code. However, it does not use ExoPlayer by default. When I changed the ShouldUseExoPlayer flag to true, the audio did not play. Instead it never plays, and endlessly displays "BufferingChanged: 0" It looks like maybe it has trouble finding the file? Of course it works fine w/o the ExoPlayer. Here is the output with potential

[2017-11-09 19:59] ThaineNorris opened #301 "Simple/MediaSample.Droid with ExoPlayer does not work"
Okay, I downloaded the updated sample project and got it to build without any changes to the code. The sample plays the audio as expected. However, it does not use ExoPlayer by default.

When I changed the ShouldUseExoPlayer flag to true, the audio did not play. Instead it never plays, and endlessly displays "BufferingChanged: 0" It looks like maybe it has trouble finding the file? Of course it wo

[2017-11-09 20:12] mike-rowley commented on #301
I would recommend using MediaPlayer on Android until our V1 release which will include ExoPlayer2 as the media engine.

[2017-11-09 20:15] ThaineNorris commented on #301
Okay, we will wait.

Thank you

[2017-11-09 20:15] #301 closed

[2017-11-10 07:59] kfransson opened #302 "how to play audio through earpiece speaker"
How can I direct audio to come through the earpiece speaker of the phone?

[2017-11-10 16:44] mike-rowley commented on #302
https://www.google.ca/search?q=xamarin+play+sound+in+ear+piece&oq=Xamarin+Play&aqs=chrome.4.69i57j69i60l3j35i39j0.7627j0j7&sourceid=chrome&ie=UTF-8

[2017-11-12 04:59] jerryno6 opened #303 "[Android] CrossMediaManager.Current.StatusChanged occurs 2 times if user click button to Pause the audio"
1. I Play 1 file audio
await CrossMediaManager.Current.Play(fullFilePath);

**2. I clicked on button Pause to call method
CrossMediaManager.Current.PlaybackController.PlayPause()
I see that
CrossMediaManager.Current.StatusChanged occured 2 times, both have status: "Paused"**

after that, If I click button Play to continue playing the audio,
CrossMediaManager.Current.StatusChanged occured 1 time wi

[2017-11-12 05:16] jerryno6 commented on #303
Sorry, because of my codes.

[2017-11-13 22:17] nodoid commented on #278
Any progress on this bug? I have an app awaiting an update and this is stopping it.

[2017-11-14 14:35] lewixlabs opened #305 "Mediafile video properties"
Hi,
does exist a way to get video width/height properties from a url stream?
I'm using this library in my Xamarin Forms project, and when i set in VideoView horizontal/vertical options to "FillAndExpand" (AspectMode="AspectFill"), video get stretched to max width/height of my Android device in portrait mode.
Video is this streaming url:
http://fms.105.net:1935/live/rmc1/playlist.m3u8
Thank you & s

[2017-11-14 14:53] potterdev commented on #295
I found the issue:

I am using CrossmediaManager.Current.Audioplayer.Play to start the audio. When using the PlaybackController to pause or stop, it does nothing in either AVMediaPlayer or Exoplayer.

I've overriden the RemoteControlReceived method and used Audioplayer.Stop or Pause and it is working.

[2017-11-14 17:48] mike-rowley commented on #305
Download and parse the M3U8 file, the dimensions are contained within the playlist.
#EXT-X-STREAM-INF:BANDWIDTH=1058446,CODECS="avc1.66.31,mp4a.40.2",RESOLUTION=720x432

[2017-11-14 18:13] mike-rowley commented on #303
What platform and which test project can you reproduce this with?

[2017-11-14 18:41] mike-rowley commented on #278
V26 support is a while away, for perspective the 4 day old Xamarin Forms prerelease only now supports V25 and MonoDroid 7.1.

[2017-11-14 21:21] rob-burrus opened #306 "Can't set Android notification icon from Xamarin.Forms"
When MediaFile.MetadataExtracted = true, the Title, Artist, and Album fields are correctly reflected in the Android notification. But the notification icon doesn't seem to be settable? Art and AlbumArt don't work. What is the appropriate field with which to set the Android notification icon from Xamarin.Forms? I would prefer to not fall back on the App icon. Note: Using Android.Support.* version 2

[2017-11-14 21:35] nodoid commented on #278
Ah - which version of the appcompat libraries should I link against? The ones I've tried still give the link error

[2017-11-14 21:35] rob-burrus commented on #306
Another note about the Android notification: The "Play" button appears below the Title / Artist and is cutoff in the notification. But it seems like there is plenty of room for it on the right side of the notification.  Assuming this has something to do with lack of support for version 25.4.0.2?

[2017-11-14 22:11] mike-rowley commented on #295
Is this issue in IOS or Android?  You a mixing the two in the comments.

Have you reviewed the sample app for the appropriate platform?

[2017-11-14 22:17] mike-rowley commented on #306
I am not sure if IAndroidMediaNotificationManager and its collateral code is in the 0.45 release, if not pull the develop branch and build your own version until it is.
Take a look at this pull request, it explains how to implement your own Android Notification class, this will allow you to customize your own Notifications in any way you like, including moving the play icon to the right.  This is

[2017-11-14 22:46] jerryno6 commented on #303
I test it on Android 7.1.
I will write a simple app to reproduce this later.

[2017-11-14 22:50] mike-rowley commented on #303
I have tested it using the Sample Android App and cannot reproduce this behavior.  I would recommend comparing what you are doing to what is in the Android Sample App to see if you can see what the issue may be.

[2017-11-14 23:37] jerryno6 commented on #303
I've just tested on the SampleProject (Sample/MediaForms.Android) of Plugin MediaManager.

I change this
[code]
+at First, I touch button **Play Audio (show ID3 Metadata)**
+Each time I touch button Stop, to change status to Pause, method CurrentOnStatusChanged occurs two times, with status=Pause. But when i Click Stop again to change status to Playing, method CurrentOnStatusChanged occurs one tim

[2017-11-15 00:32] mike-rowley commented on #303
This issue is fixed by PR#307

[2017-11-15 07:01] potterdev commented on #295
It happens on both platforms.

[2017-11-15 08:48] lewixlabs commented on #305
Ok thank you @mike-rowley
yes i noticed metadata inside m3u file, i will parse them.
But I think issue about wrong aspect radio in portrait mode esists (in UWP issue is not present, aspect ratio is ok)

[2017-11-15 11:42] danielwebstep commented on #256
@jimespen : Have you tried using https instead of http for the video url?

[2017-11-15 16:12] mike-rowley commented on #305
Yes, it is a known issue on Android.

[2017-11-15 16:16] mike-rowley commented on #278
Sample projects link with no issues, I would use that as your roadmap.

[2017-11-15 17:36] mike-rowley commented on #295
As we've discussed, exoplayer is not a complete implementation and therefore the notification controls don't work, disable exoplayer, use MediaPlayer and the controls work properly on android.

As for IOS, the sample app works, I am augmenting the forms app to work as well.
Did you override the RemoteControlReceived call as per the documentation?

_If you want to enable RemoteControl features, you

[2017-11-16 07:26] ijaz321 opened #308 "is there any option to add custom notification controls in Xamarin media manager plugin?"
I am using Xamarin plugin Media Manager version 0.4.3 on a live audio streaming it is working properly only thing i want to know is how to manage notification controls for example in notification window it is by default showing previous play/pause and next button but in my case i only need play/pause button. is there any option to hide or remove unnecessary buttons from notification window in Andr

[2017-11-16 16:42] mike-rowley commented on #308
I don't believe it is within the 0.45 nuget release but this PR covers the implementation of a fully customization MediaNotification class.

https://github.com/martijn00/XamarinMediaManager/pull/277

[2017-11-17 07:59] danielwebstep commented on #291
Hi @Srinivasdelta ,

how I've done it (for now). I send a video url to the Xamarin Forms component via a Xamarin.iOS/Xamarin.Android native controller/activity.

iOS:

1. Make a folder in the root folder in which your video file should go (ex: Video)
2. Add the video file to that folder (ex: VideoFile.mp4) and set the property to "BundleResource"

In the iOS controller that is connected to the for

[2017-11-19 01:41] Doxoh opened #309 "SHOUTcast Stream Server"
Hello,

I want to use the MediaManager with a stream of a "shoutcast stream server".
But I didn´t get MetaData. Do you know why or can you help?

Best Regards
Doxoh

[2017-11-19 03:29] Doxoh commented on #309
I got the following error:
[AVAsset loadValuesAsynchronouslyForKeys:completionHandler:] invoked with unrecognized keys (
    title,
    artwork,
    artist
).

[2017-11-19 16:14] Fatihpk opened #310 "Youtube video in Media Manager Xamarin Forms"
Hi Martijn, is there a reason why the Player does not work with Youtube?

Like:

videoView.Source = "https://www.youtube.com/embed/RRQDqurZJNk";

[2017-11-20 06:49] jimespen commented on #256
@danielwebstep Yes, I've tried that, but the results are the same. I've also tried to play local files from the device, but it's no different from what BillFulton is experiencing at https://github.com/martijn00/XamarinMediaManager/issues/190.

The console spits out this for both local and web videos (timestamps removed for simplicity):
[code]
and I don't really know what to take from this. I would

[2017-11-20 14:41] jerryno6 opened #311 "Error when use this library with .net standard 2.0 ?"
In xamarin forms, I replaced PCL project by .net standard 2.0 project
After that, in nuget Manager I couldn't add xamarinMediamanager to project .net standard, it gave me an error  "The given key was not present in the dictionary."

I don't know how to fix this.

[2017-11-20 15:31] gokuldasc opened #312 "Play video shows me video with 90 degree tilted"
Hi,
I am recording a video and then playing back.  I am using customVideorender to record video using native VideoView and Media Recorder.
Recorder was showing  pictures with 90 degree rotation. So I used the below code which corrected the rotation. I had to set display orientation for Camera to 90.
But now while playing video  it was not playing correctly so I had to use async and await while usi

[2017-11-21 02:48] mike-rowley commented on #309
There is no meta data (to my knowledge) embedded in the shoutcast stream.  I am building an app that utilizes multiple shoutcast streams and I poll that data from the external XML data providing additional information such as song name etc.  This data should also be available depending on the stream management software you use, I am using Centova Cast and Auto DJ.

I can get you more detailed info

[2017-11-21 02:52] mike-rowley commented on #311
We are presently working on the NetStandard 2.0 changes and are hoping to put them out in the 1.0 release for the library.  NetStandard 2.0 is not currently supported.

[2017-11-21 03:30] mike-rowley commented on #310
My understanding is that it is a violation of the terms of service (and potentially the reason why this doesnt work) to play YouTube videos in anything but the youtube player.

https://developers.google.com/youtube/android/player/

[2017-11-21 06:42] mike-rowley commented on #312
If the video is playing back rotated 90 degrees, why not change this line
mCamera.SetDisplayOrientation(90);
to
mCamera.SetDisplayOrientation(0);

[2017-11-21 06:48] jerryno6 commented on #311
**Love you.**

When will we have the release for 1.0
And do we have timeline for 2.0 ?
about 3 or 6 months ?

[2017-11-21 06:53] mike-rowley commented on #311
1.0 of XamarinMediaManager is intended to support NetStandard 2.0 and a few other things outlined in this issue: https://github.com/martijn00/XamarinMediaManager/issues/272

We're going to get it out as soon as possible but its hard to give a timeline.

[2017-11-21 07:07] gokuldasc commented on #312
Hi Mike thanks for your reply. But I am using  MediaManager plug to play the video  using
CrossMedia.Current.Play( videoUrl,MediaFiles.Video) and I can't see any property to  access the Camera to set the orientation to zero.
Regards,
Gokul

[2017-11-21 07:10] #311 closed

[2017-11-21 16:53] Doxoh commented on #309
https://www.mixxx.org/manual/latest/chapters/livebroadcasting.html
In this post under 9.3 is the description to set the metadata settings.

[2017-11-22 00:25] mike-rowley commented on #309
My ShoutCast service provides and RPC call that returns and XML dataset.
http://panel5.serverhostingcenter.com:2199/rpc/tjguhenj/streaminfo.get

I ingest this data for "Song Name" etc.

[2017-11-22 00:28] mike-rowley commented on #312
I repeat my original question.

If the video is playing back rotated 90 degrees, why not change this line
mCamera.SetDisplayOrientation(90);
to
mCamera.SetDisplayOrientation(0);
Which should then record it at 0 orientation as the VideoView would play back at 0 orientation.

[2017-11-22 07:04] Doxoh commented on #309
But that is not implement in this compontent?

When do you call the XML to get the information in the right time?

[2017-11-22 08:41] jacobcat commented on #278
Trying to downgrade the Compile SDK or the NuGet packages give me more complicated errors :( So I'll just wait for the fix of this bug.

[2017-11-22 12:04] Hungeberg commented on #190
I can confirm that appending the file path with "file://" works for iOS with version 0.4.4 of this plugin.

if (Device.RuntimePlatform == Device.iOS)
{
    result = "file://" + file.Path;
}
else
{
    result = file.Path;
}

[2017-11-22 16:32] Fatihpk commented on #310
So there are none youtube players out there for PCL?

[2017-11-22 21:27] shahansyed opened #316 "Cannot Play Itunes Library"
I can play audio in IOS thats hosted in google drive, but i cannot get IOS to play a file that is loaded in the Itunes Library

 **MPMediaQuery mq = new MPMediaQuery();
                var value = NSNumber.FromInt32((int)MPMediaType.Music);
                var type = MPMediaItem.MediaTypeProperty;
                var predicate = MPMediaPropertyPredicate.PredicateWithValue(value, type);

[2017-11-22 22:20] gokuldasc commented on #312
Hi Mike,
I had to set orientation to 90 degree because camera was recording with 90 degree tilt  when I try to record it in Portrait mode. I want both record and play to work correctly and not one or the other.

[2017-11-23 01:47] Reza-Mortazavi opened #317 "MedaManage VideoView cannot play https video stream"
I use shared project with Xamarin Forms 2.5.0.91635 in VS 2017 and installed Plugin.MediaManager and Plugin.MediaManager.Forms both 0.4.5 and video is playing on a modal page on a Android 4.4 device.
min Android version 4.1 compiled by Android 8

on xaml page:

    <forms:VideoView x:Name="VideoView" HorizontalOptions="FillAndExpand"
        VerticalOptions="FillAndExpand" />

on cs file:

    pub

[2017-11-23 05:39] mike-rowley commented on #309
Put it in a recurring timer, i update mine every 30 seconds

[2017-11-23 05:41] mike-rowley commented on #312
I would suggest figuring out why the camera is not recording with the correct rotation in portrait mode.   That sounds like the root cause of the video being rotated in the VideoView on playback.

[2017-11-23 05:57] mike-rowley commented on #316
First I need to know how to get an "iTunes Library URL"

[2017-11-23 19:42] muhaym commented on #257
What error are you getting? Please post some logs!

[2017-11-23 20:50] mike-rowley commented on #317
Does the problem exist on newer versions of Android, like 7 or 8?
What is serving up the video?  Is it direct from a hardware device?  Or a file on a web server?

[2017-11-24 00:27] Reza-Mortazavi commented on #317
Unfortunately I don't have Android 7/8 for the time being and my emulator does not play videos so I have to check it on a device.
Videos are Web API 2 streams. tested both locally and from web.

available samples:

working
[code]

not working
[code]

I appreciate your time

[2017-11-24 02:58] mike-rowley commented on #317
I HIGHLY suggest getting a new device, testing software on 4 year old Device/OS especially in the mobile space is a recipe for a release disaster.  I've seen less issues with backwards compatibility than forward compatibility.

I have tested your HTTPS link in the Forms Sample app and it works on 8.0 and 5.0.  I also did some research into the actual error you are getting (VideoView(13411): Error:

[2017-11-24 07:19] Reza-Mortazavi commented on #317
I understand the new device concept but Android 4 devices are still popular. For example I personally have had no reason to change my handy 4.4 Yoga tablet!

I spent three whole days on this problem, reading and testing everything related to this issue even reviewing your source code, and when I gave up came here and wrote. I just opened the project and run it and guess what... all videos played o

[2017-11-24 08:11] Falco20019 commented on #252
The fix was merged into develop branch and this issue could be closed

[2017-11-24 12:43] Doxoh commented on #309
Can you send me an example what do you do in your PCL?

[2017-11-24 17:50] shahansyed commented on #316
Sorry !  this works , I wasnt working because i was forcing the music in the simulator like this  : https://maikohermans.github.io/2016/12/28/ios-use-music-library-with-simulator
but it didnt work. It works with the real device i just got.

For anyone who wants to know heres the bit of code that queries the devices itunes library

[code]

Thanks for all your hard work !

[2017-11-24 17:50] #316 closed

[2017-11-24 17:55] mike-rowley commented on #309
RadioStreamData is just a poco class that matches the streaminfo.get xml.  But I am using ServiceStack as the json client so I am not sure this helps you unless you have a ServiceStack license.

[code]

[2017-11-25 01:41] ArthurDumas opened #318 "Plugin.MediaManager.ExoPlayer.GetSource() uses FileDataSourceFactory for http/https urls"
Plugin.MediaManager.ExoPlayer.GetSource() uses FileDataSourceFactory for http/https urls instead of HttpSourceFactory. This is caused because the encoded url ("http%3A%2F%2F") is passed to URLUtil.IsHttpUrl() which looks for "http://" (likewise for https).

This issue was discussed here https://github.com/martijn00/XamarinMediaManager/issues/212 and here https://github.com/martijn00/XamarinMediaMa

[2017-11-25 02:22] ArthurDumas commented on #299
@ThaineNorris, the ExoPlayer issue may be due to this https://github.com/martijn00/XamarinMediaManager/issues/318.

[2017-11-25 16:56] VVK1993 opened #319 "MediaNotificationManager on Android appears again after I try to close it"
Hello guys,

Sorry if it is a silly question but I tried to find a solution online or solve it by myself but nothing works for me.

The problem is that when my audio file (audio streaming) has finished playing notification control won't disappear.

I tried calling this code

[code]
or this:

[code]
but after this Notification control disappears and briefly after it appears again. Don't know how to

[2017-11-25 17:00] StefanKert commented on #221
@michael-watson any news on this? Facing the same issue and curious if you came up with a solution.

[2017-11-25 21:43] ArthurDumas commented on #318
While trying to fix ExoPlayer.GetSource(), I ran into a problem.

To test, I modified XamarinMediaManager-develop\Samples\Forms\Droid to use ExoPlayer by adding a reference to Plugin.MediaManager.ExoPlayer and adding the following code to MainActivity.cs:
[code]

The audio plays but the app throws the following exception and aborts once you acknowledge the exception in Visual Studio.
[code]
**Am I

[2017-11-26 14:29] VVK1993 commented on #319
I found that after media file is finished I get this in output

I don't call any getDuration or seekTo methods directly. Any ideas why it is happening?

[2017-11-27 15:52] danielwebstep commented on #256
@jimespen : have you remembered to initialize the component in the appdelegate? (you need to include the Plugin.MediaManager.Forms component)

`public override bool FinishedLaunching(UIApplication app, NSDictionary options)
{
VideoViewRenderer.Init();
}`

[2017-11-27 22:39] mike-rowley commented on #318
ExoPlayer 2 is being added for the v1.0 release.  I believe only ExoPlayer 1 is partially supported currently.

[2017-11-27 22:45] mike-rowley commented on #319
StopNotifications stop the notification bar until it is accessed again, then if you look at the code, it will reinitialize the Notification.  I had exactly the same issue, I compiled my app with a copy of the code and put a breakpoint on StartNotification and found it was being accessed on a separate thread after my app stopped playing.

If you have a slimmed down sample project reproducing the pr

[2017-11-29 11:50] madner7 opened #320 "iOS first pause works like stop"
I have used the plugin to write a forms application for podcasts. As there is some custom logic involved, I clear the Queue and repopulate it based on some events.

When playing I use this
`mediaPlayer.MediaQueue.SetIndexAsCurrent(0);
mediaPlayer.PlaybackController.Play();`

It plays the proper file and that works great.
However the first time pause and then play is hit, it reloads the file and st

[2017-11-30 17:14] mike-rowley commented on #320
Because of your "custom logic" I can't even begin to speculate as to what your problem might be.  If you would like to put together a slimmed down sample outlining the problem I will have a look at it.

[2017-11-30 18:24] ZeProgFactory commented on #320
I've the same issue on UWP. I'll try to make up a sample project.

[2017-12-01 10:34] Falco20019 commented on #320
On android it's restarting the song.

On android, this could be related to my fix in #314 which calls PrepareAsync even for the same file. But if it's not called, the player is getting completely stuck and won't play the same song until another was played. Just informational, shouldn't be the same cause as on iOS or UWP since I haven't touched those.

[2017-12-01 12:08] madner7 commented on #320
I will try to create .a skeleton project to demonstrate the issue.

Thanks.

[2017-12-01 15:50] TGlev commented on #309
I have the same, also using a SHOUTcast server.
I can also get the data trough a JSON REST API, but how do I assign it to the MediaManager? What methods/properties do I call?

[2017-12-01 19:08] mike-rowley commented on #309
I am not sure if IAndroidMediaNotificationManager and its collateral code is in the 0.45 release, if not pull the develop branch and build your own version until it is.
Take a look at this pull request, it explains how to implement your own Android Notification class, this will allow you to customize your own Notifications in any way you like, including moving the play icon to the right. This is n

[2017-12-01 19:11] Doxoh commented on #309
I am not working so long with Xamarin.
I dont know how ich create a background task (IOS, Android) that every 30 seconds do the JSon Call

[2017-12-01 19:29] TGlev commented on #309
Im getting this error on iOS, how could this fix it?

[2017-12-01 19:36] mike-rowley commented on #309
@Doxoh Use a timer.

[2017-12-01 19:37] mike-rowley commented on #309
@TGlev What error?  Under what circumstances?

[2017-12-01 19:39] Doxoh commented on #309
@mike-rowley ok thanks. I will try it

[2017-12-01 19:39] TGlev commented on #309
Im also trying to stream from a shoutcast server and Im getting this error: (Xamarin.Forms.iOS)

[code]

Since I can get this data from a JSON api, I was wondering how to pass it to the MediaManager to get rid of the error. Since the stream does not work at the moment.

[2017-12-01 19:45] mike-rowley commented on #309
@TGlev are you passing a MediaFile object with the appropriate fields filled out to the MediaNotificationManager's StartNotification or UpdateNotifications?

[2017-12-01 19:46] TGlev commented on #309
No. I found this plugin on Xamarin Blog and all Im doing is this:

`await CrossMediaManager.Current.Play("stream.bigb21.nl:12000/live");`

[2017-12-01 19:48] TGlev commented on #309
Never mind! I forgot to add http:// to the URL! 😛

[2017-12-01 19:49] Doxoh commented on #309
@TGlev now its worked?

[2017-12-01 19:49] TGlev commented on #309
Yep.

[2017-12-01 19:51] Doxoh commented on #309
`var mediaFile = new MediaFile
                {
                    Type = MediaFileType.Audio,
                    Availability = ResourceAvailability.Remote,
                    Url = "http://5.196.64.74:5099/live",
                    MetadataExtracted = true
                };
                await CrossMediaManager.Current.Play(mediaFile);`

I do this, but I got the same error on IOS:

AVAss

[2017-12-01 19:51] Doxoh commented on #309
@TGlev did you change any options on the server?

[2017-12-01 19:51] TGlev commented on #309
I am still getting the error, but the audio is working.

[2017-12-01 19:52] TGlev commented on #309
No, I did not change anything. The server is not mine.

[2017-12-01 19:52] Doxoh commented on #309
Alright.
yes the audio is working too for me.

I will try the Timer option..

[2017-12-01 20:03] mike-rowley commented on #309
@Doxoh you are getting an error in the log or an exception in the application?

[2017-12-01 20:05] Doxoh commented on #309
<img width="1087" alt="bildschirmfoto 2017-12-01 um 21 05 13" src="https://user-images.githubusercontent.com/17340739/33501039-6496a622-d6db-11e7-986b-06b9177f85e8.png">

in the console.

[2017-12-01 20:10] mike-rowley commented on #309
Try filling in Artist and Title for the Metadata on the MediaFile

[2017-12-01 20:12] Doxoh commented on #309
The Shoutcast server is not mine. I will tell that to the owner

[2017-12-01 20:30] Doxoh commented on #309
Can I override the title and artist in the LockScreen control?
Currently I shows "live"

[2017-12-01 21:24] mike-rowley commented on #309
It has nothing to do with the Shoutcast server.

`
var mediaFile = new MediaFile { Type = MediaFileType.Audio, Availability = ResourceAvailability.Remote, Url = "http://5.196.64.74:5099/live", MetadataExtracted = false };
mediaFile.Metadata.Title = "Song Title";
mediaFile.Metadata.Artist = "Artist Name";
await CrossMediaManager.Current.Play(mediaFile);
`

I HIGHLY suggest downloading the code and

[2017-12-01 21:37] Doxoh commented on #309
I do this, but I got the same error

[2017-12-01 21:48] Doxoh commented on #309
I do this:

`        async Task<string> GetTitleInfo(){

var titleArtist = //WebRequest

            Device.BeginInvokeOnMainThread(() =>
            {
                if (titleArtist.Length > 1)
                {
                    titel.Text = titleArtist[1].TrimStart(' ');
                    artist.Text = titleArtist[0].TrimEnd(' ');
                }
                else
                {

[2017-12-01 22:31] Doxoh commented on #254
Have anyone find a solution?

[2017-12-01 22:42] jwkent commented on #254
Negative.  iOS 11 has made missing art work less annoying.

[2017-12-01 22:47] Doxoh commented on #254
Oh okay thanks @jwkent

[2017-12-01 22:53] Doxoh commented on #309
I fixed it.

Run this after you changed the title
CrossMediaManager.Current.MediaNotificationManager.UpdateNotifications(mediaFile, MediaPlayerStatus.Playing);

[2017-12-01 23:23] Doxoh opened #321 "Disable previous and next button"
Hello,
I want to disable the previous and the next button with this:
`
            commandCenter = MPRemoteCommandCenter.Shared;

            commandCenter.NextTrackCommand.Enabled = false;
            commandCenter.PreviousTrackCommand.Enabled = false;`

But it does not worked. Anybody know why?

[2017-12-02 00:02] mike-rowley commented on #254
https://github.com/martijn00/XamarinMediaManager/pull/322 allows AlbumArtUri to populate the IOS lock screen.

[2017-12-02 00:06] Doxoh commented on #254
@mike-rowley when the version is on https://www.nuget.org/packages/Plugin.MediaManager/ ?

[2017-12-02 00:07] mike-rowley commented on #254
That will be up to @martijn00

[2017-12-02 00:10] Doxoh commented on #254
Oh okay thanks @mike-rowley , the I hoped @martijn00 do it in the next time 😅

[2017-12-02 00:12] Doxoh commented on #254
@mike-rowley

You do this "if (!metadata.AlbumArtUri.Equals(string.Empty))". I think "if (!String.IsNullOrEmpty(metadata.AlbumArtUri))" is better

[2017-12-03 09:52] 07101994 opened #323 "[Help] How to select Video's audio track on Android and UWP?"
Hello,

Can someone please help how can I select/change video's audio track on Android and UWP?

Thanks,
Tushar

[2017-12-07 16:06] Finneyv opened #324 "How to detect when streaming connection gets cut off on Android"
When streaming audio on an android device if the stream connection is cut off the player eventually changes its status to loading then switches it back to playing.  The only indication that the player gives that it has lost it's data stream is the quick transfer from playing to loading and then back to playing.  It does not throw a MediaFailed event nor does it change it's Status to Failed.  How s

[2017-12-07 16:47] Levvy055 commented on #181
For it's also not working.
Calling `_volumeManager.CurrentVolume = someValue;` do nothing in UWP
Also I figured that MaxVolume is equal to 0. Why is that even is song is playing pretty loud?

[2017-12-07 17:42] mike-rowley commented on #324
I don't think there is anything in MediaPlayer that will detect the stream failure, but i believe this functionality is available in ExoPlayer 2+ and will be added in the V1.0 release we are working on.

[2017-12-07 17:44] mike-rowley commented on #181
I don't believe Volume has been implemented on UWP as I was the one that did the implementation on IOS and Android.  If you have a PR for this we would be very interested in it.

[2017-12-07 18:13] Finneyv commented on #324
OK.  Currently I check to see if the player is loading and if the device doesn't have a connection to throw the warning.  I'll be sure to integrate the newest MediaPlayer release into my project as soon as it becomes available.

[2017-12-07 18:17] mike-rowley commented on #324
Just as clarification, MediaPlayer refers to the underlying Android system for playing media, ExoPlayer is its replacement which has more transport layer information that should allow detection and retries on a connection glitch.

[2017-12-07 19:15] Finneyv commented on #324
Oh sorry for the mix up then.  I'm using CrossMediaManager with ExoPlayer currently and in my previous post I meant to say the CrossMediaManager object.

[2017-12-10 21:27] madner7 commented on #320
Fixed the issue for iOS by changing the logic for

sameMediaFile in AudioPlayerImplementation, first time on new screen the equals was returning false.

[2017-12-13 02:18] yangwulong1978 opened #325 "plugin.mediamanager can not play video"
currently we are doing a xamarin.form apps.

we are Using plugin.media to record video, get the path in the returned File(mp4 file), and then use plugin.mediamanager to play video.
 everytime try to play video,and the program crashes and throws below exception.

do you have any idea what this error it is ?
![errormessage](https://user-images.githubusercontent.com/4809957/33918534-0609b1d6-e008-11e

[2017-12-13 20:24] JohnGalt1717 commented on #278
FYI, the latest Xamarin Forms update positively freaks out if you don't use the 26.x releases of these now so there is no way of uxing MediManager and actually deploying a reasonable sized version of your app. In addition to .NET standard still not supported I'm wondering if this is ever going to be up to snuff as a project or not and be usable on a regular basis in a production quality project.

[2017-12-13 21:40] nodoid commented on #278
I've left mine on 2.5.09x and manually changed both the android csproj and packages to only grab 25.3.2 of the android compat packages. It works OK, but you have to be careful when updating packages.

[2017-12-13 21:53] mike-rowley commented on #278
@JohnGalt1717 the deal is that this is an open source project written and maintained by volunteers.  If you have a PR to contribute we would be happy to look at it.

[2017-12-13 22:38] Doxoh commented on #254
@mike-rowley Did you know when the pull request is applyed?

[2017-12-14 16:18] JohnGalt1717 commented on #278
So yet another dead duck repo for Xamarin Video playback that should have been part of the native Xamarin Forms package 3+ years ago and can't be trusted in production unless i take it upon myself to basically own the project and keep it up-to-date or am OK with using old versions of Xamarin endlessly because stuff is constantly broken because nothing is maintained.

Got it.  Yet another reason we

[2017-12-15 20:58] jlevolution commented on #203
I have the same problem with the call "VideoViewRenderer.Init();" in MainPage.xaml.cs UWP, there is no VideoViewRenderer.Init() on UWP. Version: 0.4.5

[2017-12-15 22:05] adamzucchi opened #326 "Property to show native video player controls"
Is there a property that can be set that will allow for the video player to show native playback controls per platform when the video is interacted with?  Such as play, pause, etc.?

[2017-12-17 18:04] lewixlabs opened #328 "Sample for tvOS"
Hi,
i noticed there isn't  a sample for tvOS.
Is implementation is same as iOS?

I tried copying code from iOS Video Sample, but i can't hear audio only (in Xamarin Forms all platforms same url works with video & audio).
Here is my code copied from iOS Video Sample (maybe for tvOS i have to use AvPlayer view?)
Thank you for any suggestion.

	public partial class ViewController : UIViewController

[2017-12-18 17:16] lewixlabs commented on #328
Meantime i wrote a ported sample app from Swift code
https://github.com/lewixlabs/TvOS-PlayBack-Sample-App
Using official AVPlayer view, video works.

Hi!

[2017-12-19 05:52] #212 closed

[2017-12-19 18:00] Lezherus opened #329 "Play FairPlay Protected HLS Content"
Hey guys, I'm trying to stream a content from Azure Media Services, but I can't get it to work, so I'm wondering if it's doable, and if so, how do I achieve it? The content is HSL protected by FairPlay DRM.

[2017-12-20 22:00] mike-rowley commented on #329
I believe HSL protection requires an ExoPlayer2 implementation which is not yet in the plugin.

[2017-12-25 12:51] NicoKno opened #331 "Android TimeSpan objects like 'Position' or 'Duration' retrieve wrong info."
I'm playing a mp4 Video (tried with several). It seems like each second gets multiplied by 1000. Doesnt matter if I get the TotalSeconds or the TimeSpan itself. The numbers are way too high.

[2017-12-25 23:02] david-abaev opened #332 "Xamarin.Forms - Android - Play Http video / Local file video - Call to getEmbeddedPicture failed."
Hello. So I cant fix this issue:
[MediaMetadataRetrieverJNI] getEmbeddedPicture: Call to getEmbeddedPicture failed.

My "build"
Xamarin.Android packages 23.3.0
Xamarin Forms 2.5.0.12
MediaManager and Xamarin Media Manager 0.4.5

On IOS -Everything work Fine!

On android:
[MediaMetadataRetrieverJNI] getEmbeddedPicture: Call to getEmbeddedPicture failed.

I try play Local file
Path for example:
/sto

[2017-12-28 08:39] CSkoubo commented on #331
Got any repro steps or project? Seems a bit of an big effort to setup, to find the bug, if there are any at all.

[2017-12-28 21:12] MagnusJohansson opened #333 "Any plans for .net standard support?"
..as per the title.

[2017-12-28 22:36] mike-rowley commented on #333
This is planned for the V1 release.  https://github.com/martijn00/XamarinMediaManager/issues/272

There is no time line that I am aware of for this release at this point.

[2017-12-30 19:33] NicoKno commented on #331
You can use the Xamarin.Forms Sample App. If you set a break point to PlayingChanged Event you can have a look at the e.Position.TotalSeconds Property.